<ul class="ps-section__links">      
    <li *ngIf="!seccionLista" style="background:#D8D8D8; padding:1rem;"><a (click)="mostrarSecPedido(1)">Mi Lista</a></li>
    <li *ngIf="seccionLista" ><a (click)="mostrarSecPedido(1)">Mi Lista</a></li>
    
    <li *ngIf="!mostrarPaso1" style="background:#D8D8D8; padding:1rem;"><a (click)="mostrarSecPedido(2)">Mis Pedidos</a></li>
    <li *ngIf="mostrarPaso1" ><a (click)="mostrarSecPedido(2)">Mis Pedidos</a></li>
</ul>

<div *ngIf="mostrarPaso1">
    <app-carrito-compras [mostrarMenu]="false"></app-carrito-compras>
</div>


<div class="row" *ngIf="seccionLista">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <dx-data-grid
                id="gridContainer"
                [dataSource]="listaPedidos"
                [showBorders]="true">
                <dxi-column dataField="id_orden_compra" alignment="center" caption="ID"></dxi-column>
                <dxi-column dataField="nombre_ti"  alignment="center"  caption="Nombre Tienda"></dxi-column>
               <!--  <dxi-column dataField="cantidadProductos"  alignment="center"  caption="Cantidad Productos"></dxi-column> -->
                <dxi-column dataField="total"  alignment="center"  caption="Total"></dxi-column>
                <dxi-column dataField="descripcion"  alignment="center"  caption="Tipo Pago"></dxi-column>
                <dxi-column dataField="nombre_estado"  alignment="center"  caption="Estado Pedido"></dxi-column>
                <dxi-column dataField="observacion_pedido"  alignment="center"  caption="Observaciones"></dxi-column>

                <dxi-column type="buttons"  caption="Lista Productos">
                    <dxi-button icon="far fa-list-alt" [onClick]="mostrarListaProductos"></dxi-button>    
                </dxi-column>
                <dxi-column type="buttons" caption="Subir comprobante">
                    <dxi-button  icon="fa fa-file" [visible]="mostrar" [onClick]="subircomprobante"></dxi-button>    
                </dxi-column>
            <!--   <dxi-column type="buttons"  caption="Eliminar">
                    <dxi-button icon="fas fa-trash-alt" [onClick]="deleteProduct"></dxi-button>    
                </dxi-column> -->
                <dxo-export [enabled]="true" fileName="Pedidos"></dxo-export>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager
                        [showPageSizeSelector]="true"
                        [allowedPageSizes]="[5,10,20]"
                    ></dxo-pager>
            </dx-data-grid>
            </div>
        <div class="col-md-1"></div>
    </div>
      

</div>
  




<dx-popup
    [width]="'60%'"
    [height]="'70%'"
    [showTitle]="true"
    [title]="titulo"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="row">
            <div class="col-md-4"><img src="{{productoMostrado.imagen}}" alt=""></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"><h2>{{productoMostrado.nombre}}</h2></div>
                    <div class="col-md-12">
                        <h4>Descripcion:</h4>
                        <p>{{productoMostrado.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</dx-popup>

<dx-popup
    [width]="'60%'"
    [height]="'70%'"
    [closeOnOutsideClick]="true"
    [(visible)]="popupListaProductos">
    <div *dxTemplate="let data of 'content'">
         <dx-scroll-view width="100%" height="100%">
             <div class="centrar">
                <h4>{{nombrePedido}}</h4>
                <h4>TIENDA : {{nombreTienda}}</h4>   
             </div>
             
            <div class="ps-section__content centrar">
                <div class="table-responsive">
                    <table class="table ps-table--shopping-cart centrar">
                        <thead>
                            <tr class="centrar">
                                <th style="text-align: center;">Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let element of productosPorOrdenDTO;let i = index">
                                <td  class="centrar">{{element.nombre}}</td>
                                <td class="price">${{element.precio_producto}}</td>
                                <td>{{element.cantidad}}</td>   
                                <td style="text-align: center;">${{element.total_producto}}</td>                             
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr>

                <div class="d-flex flex-row-reverse" style="margin-right: 2em;">
                    <div class="p-2"><h3>Total <span>${{totalCompra}}</span></h3></div>             
                </div>
            </div> 
         </dx-scroll-view>
        
    </div>
</dx-popup>

<dx-popup
[width]="'30%'"
[height]="'40%'" 
[showCloseButton]="false"
[showTitle]="true"
title="Subir comprobante"


[(visible)]="popupsubircomprobante">
<div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
    <div class="ps-section__content centrar">
        <div class="row">
            
            <div class="col-md-12">
               <br>
               <h4>Vuelve a subir el comprobante de pago correcto</h4>
                <br>
                <img src="{{imagenPago}}" alt="">
                <br><br>
                <input type="file" #archivo class="btn color-principal" (change)="handleFileSelect($event)" height="4em" width="auto">
                <br><br><br>

                <div class="row">
                    <br><br>
                    <div class="col-md-6"><button class="btn color-principal" style="font-size:1.6rem ; width: 8rem;"  (click)="validarImagenPago()">Subir</button></div>
                    
                    <div class="col-md-6"><button class="btn btn-danger" style="font-size:1.6rem ; width: 8rem;" (click)="cerrar()">cancelar</button></div>                
                    <br>
                </div>
                <br>
            </div>           
        </div>
    </div> 
</dx-scroll-view>
</div>

</dx-popup>