
.centrar{
    text-align: center;
}

.btn-table{
    color: red;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}

.color-principal{
    background-color: #1db61d;
    color: white;
    border-color: transparent;
}

::ng-deep .dx-radio-value-container {
    margin-top: 1em;
}

 input[type="file"] {
    height: 3em;
}
.ayuda p{
    margin-bottom: -0.5em;
  }