<footer class="ps-footer">
    <div class="container">
        <h4> Contacta con nosotros</h4>
        <div class="ps-footer__widgets">
            <aside class="widget widget_footer widget_contact-us">
                <h4 class="widget-title" style="color: #3ADF00;">Desarrollador</h4>
                <div class="widget_content">                
                    <p >Jefferson Santana Tavarez</p>
                    <p >Guayaquil - Ecuador </p>
                    <p >Estudiante de Ingeniería en Ciencias de la computación</p>
                    <p >Universidad agraria del Ecuador </p>
                </div>
            </aside>

            <aside class="widget widget_footer">
                <h4 class="widget-title" style="color: #3ADF00;">Contacto</h4>            
                <p>0960630010</p>              
                <p>angeljeff00@gmail.com</p>
                <p>jefferson.santana.tavarez@uagraria.edu.ec</p>
            </aside>

            <aside class="widget widget_footer">
                <h4 class="widget-title" style="color: #3ADF00;">Redes sociales</h4>
                <ul class="ps-list--social">
                    <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
</footer>