.header__content {
  background-color: #1db61d;
  color: white;
}

.ps-logo{
  margin-top: -1em;
}

.icon-user{
  color: white;
}

.color-principal{
    background-color: #1db61d;
    color: white;
    border-color: transparent;
}

.controles{
    height: 4rem;
}


.centrar{
  text-align: center;
}