
<body>


  <header class="header header--standard header--market-place-4" data-sticky="true">
      	<!--=====================================
		Header Content
		======================================-->

        <div class="header__content">

            <div class="container">

                <div class="header__content-left">

                	<!--=====================================
					Logo
					======================================-->

                	<a class="ps-logo" href="index.html">
                    <img src="../../../assets/icono.png" class="pt-3" alt="">
                	</a>

                	<!--=====================================
					Menú
					======================================-->

                    <div class="menu--product-categories">
                        
                        <div class="menu__toggle">
                        	<i class="icon-menu"></i>
                        	<span> Shop by Department</span>
                        </div>

                        <div class="menu__content" >
                            <ul class="menu--dropdown" >
                                <li>
                                	<a href="#"><i class="icon-star"></i> Hot Promotions</a>
                                </li>
                                <li class="menu-item-has-children has-mega-menu">
                                	<a href="#"><i class="icon-laundry"></i> Consumer Electronic</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">
                                            <h4>Electronic<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a href="#">Home Audio &amp; Theathers</a>
                                                </li>
                                                <li><a href="#">TV &amp; Videos</a>
                                                </li>
                                                <li><a href="#">Camera, Photos &amp; Videos</a>
                                                </li>
                                                <li><a href="#">Cellphones &amp; Accessories</a>
                                                </li>
                                                <li><a href="#">Headphones</a>
                                                </li>
                                                <li><a href="#">Videosgames</a>
                                                </li>
                                                <li><a href="#">Wireless Speakers</a>
                                                </li>
                                                <li><a href="#">Office Electronic</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4>Accessories &amp; Parts<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a href="#">Digital Cables</a>
                                                </li>
                                                <li><a href="#">Audio &amp; Video Cables</a>
                                                </li>
                                                <li><a href="#">Batteries</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                               
                            </ul>

                        </div>

                    </div><!-- End menu-->

                </div><!-- End Header Content Left-->

                <!--=====================================
				Search
				======================================-->

                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get">
                        <div class="form-group--icon">
                        	<i class="icon-chevron-down"></i>
                            <select class="form-control">
                                <option value="1">All</option>
                                <option value="1">Smartphone</option>
                                <option value="1">Sounds</option>
                                <option value="1">Technology toys</option>
                            </select>
                        </div>
                        <input class="form-control" type="text" placeholder="I'm shopping for...">
                        <button>Search</button>
                    </form>
                </div>

                <div class="header__content-right">

                    <div class="header__actions">

                    	<!--=====================================
						Wishlist
						======================================-->

                    	<a class="header__extra" href="#">
                    		<i class="icon-heart"></i><span><i>0</i></span>
                    	</a>

                    	<!--=====================================
						Cart
						======================================-->

                        <div class="ps-cart--mini">

                        	<a class="header__extra" href="#">
                        		<i class="icon-bag2"></i><span><i>0</i></span>
                        	</a>

                            <div class="ps-cart__content">

                                <div class="ps-cart__items">

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                        	<a href="#">
                                        		<img src="../shared/../shared/img/products/clothing/7.jpg" alt="">
                                        	</a>
                                        </div>

                                        <div class="ps-product__content">
                                        	<a class="ps-product__remove" href="#">
                                        		<i class="icon-cross"></i>
                                        	</a>
                                        	<a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                            <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                            <small>1 x $59.99</small>
                                        </div>

                                    </div>

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                        	<a href="#">
                                        		<img src="../shared/img/products/clothing/5.jpg" alt="">
                                        	</a>
                                        </div>

                                        <div class="ps-product__content">
                                        	<a class="ps-product__remove" href="#">
                                        		<i class="icon-cross"></i>
                                        	</a>
                                        	<a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                            <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                            <small>1 x $59.99</small>
                                        </div>

                                    </div>

                                </div>

                                <div class="ps-cart__footer">

                                    <h3>Sub Total:<strong>$59.99</strong></h3>
                                    <figure>
                                    	<a class="ps-btn" href="shopping-cart.html">View Cart</a>
                                    	<a class="ps-btn" href="checkout.html">Checkout</a>
                                    </figure>

                                </div>

                            </div>

                        </div>

						<!--=====================================
						Login and Register
						======================================-->

                        <div class="ps-block--user-header">
                            <div class="ps-block__left">
                            	<i class="icon-user"></i>
                            </div>
                            <div class="ps-block__right">
                            	<a routerLink="/login">Ingresar</a>
                            	<a routerLink="/register">Registrar</a>
                            </div>
                        </div>

                    </div><!-- End Header Actions-->

                </div><!-- End Header Content Right-->

            </div><!-- End Container-->

        </div><!-- End Header Content-->

    </header>

	

    <!--=====================================
    My Account Content
    ======================================--> 

    <div class="ps-vendor-dashboard pro">

        <div class="container">

            <div class="ps-section__header">

                <!--=====================================
                Profile
                ======================================--> 

                <aside class="ps-block--store-banner">

                    <div class="ps-block__user">

                        <div class="ps-block__user-avatar">

                            <img src="../../../assets/user.png" alt="">

                            <div class="br-wrapper">
                                  <button class="btn btn-warning btn-lg color-principal" (click)="editarPerfil()">Editar Perfil</button>
                              <!--  <button class="btn btn-primary btn-lg rounded-circle"><i class="fas fa-pencil-alt"></i></button> -->

                            </div>

                            <div class="br-wrapper br-theme-fontawesome-stars mt-3">

                                <select class="ps-rating" data-read-only="true" style="display: none;">
                                    <option value="1">1</option>
                                    <option value="1">2</option>
                                    <option value="1">3</option>
                                    <option value="1">4</option>
                                    <option value="2">5</option>
                                </select>

                            </div>

                        </div>

                        <div class="ps-block__user-content text-center text-lg-left">

                            <h2 class="text-white">Gilbert Maxiliun</h2>

                            <p><i class="fas fa-user"></i> maximiluin</p>

                            <p><i class="fas fa-envelope"></i> gopro@gmail.com</p>

                           

                        </div>

                        <div class="row ml-lg-auto pt-5">

                            <div class="col-lg-3 col-6" (click)="mostrarSeccion(1)">
                                <div class="text-center">
                                    <a>
                                        <h1><i class="fas fa-shopping-cart text-white"></i></h1>
                                        <h4 class="text-white">Ordenes </h4>
                                    </a>
                                </div>
                            </div><!-- box /-->
                
                            <div class="col-lg-3 col-6" (click)="mostrarSeccion(2)">
                                <div class="text-center">
                                    <a>
                                        <h1><i class="fas fa-shopping-bag text-white"></i></h1>
                                        <h4 class="text-white">Productos <!-- <span class="badge badge-secondary rounded-circle">51</span> --></h4>
                                    </a>
                                </div>
                            </div><!-- box /-->
                
                            <div class="col-lg-3 col-6" (click)="mostrarSeccion(3)">
                                <div class="text-center">
                                    <a>
                                        <h1><i class="fas fa-store text-white"></i></h1>
                                        <h4 class="text-white">Tienda </h4>
                                    </a>
                                </div>
                            </div><!-- box /-->
                
                            <div class="col-lg-3 col-6" (click)="mostrarSeccion(4)">
                                <div class="text-center">
                                    <a>
                                      
                                        <h1><i class="fas fa-comment-dollar text-white"></i></h1>
                                        <h4 class="text-white">Pago </h4>
                                    </a>
                                </div>
                            </div><!-- box /-->
                        </div>

                    </div>

                </aside><!-- s -->

                <!--=====================================
                Nav Account
                ======================================--> 
   
                <div class="ps-section__content" *ngIf="seccionOrdenes">
                    <ul class="ps-section__links">
                      
                        <li><a href=my-account_wishlist.html>Ordenes Activas</a></li>
                        <li><a href="my-account_my-shopping.html">Todas</a></li>
                    </ul>
                </div>

                 <div class="ps-section__content" *ngIf="seccionProducto">
                    <ul class="ps-section__links">
                      
                        <li><a (click)="mostrarSecProducto(1)">Mis Productos</a></li>
                        <li><a (click)="mostrarSecProducto(2)">Nuevo Producto</a></li>
                        <!-- button>Nuevo</button> -->
                    </ul>

                     <div class="ps-section__content" *ngIf="seccionListProducto">
                         <div class="row">
                             <div class="col-md-12 centrar"><h2>Lista de productos</h2></div>
                         </div>
                        
                        <dx-data-grid
                            id="gridContainer"
                            [dataSource]="productos"
                            keyExpr="ID"
                            [showBorders]="true">
                            <dxi-column
                                dataField="Picture"
                                [width]="100"
                                [allowFiltering]="false"
                                [allowSorting]="false"
                                cellTemplate="cellTemplate"
                            ></dxi-column>
                            <dxi-column dataField="Nombre" caption="Producto"></dxi-column>
                            <dxi-column dataField="Cantidad" caption="Cantidad"></dxi-column>
                            <dxi-column dataField="Estado" caption="Estado"></dxi-column>
                            <dxi-column dataField="Descripcion" caption="Descripcion"></dxi-column>
                            <div *dxTemplate="let data of 'cellTemplate'">
                                <img [src]="data.value" />
                            </div>

                            <dxo-export [enabled]="true" fileName="Productos"></dxo-export>
                             <dxo-paging [pageSize]="4"></dxo-paging>
                                <dxo-pager
                                    [showPageSizeSelector]="true"
                                    [allowedPageSizes]="[5,8,10]"
                                ></dxo-pager>
                        </dx-data-grid>
                    </div>

                    <div class="ps-section__content" *ngIf="seeccionNewProducto">

                        <div class="row">
                            <div class="col-md-12" style="text-align: center;"><h2>Nuevo Producto</h2></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">Imagen</div>
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-1"></div>
                                            <div class="col-md-10">
                                                <div class="ps-tabs">
                                                    <div class="ps-tab active">
                                                        <div class="ps-form__content">
                                                            <div class="form-group">
                                                                <dx-text-box [(value)]="usuarioNuevo.nombres" class="controles" placeholder="Nombres"></dx-text-box>
                                                            </div>

                                                            <div class="form-group">
                                                                <dx-text-box [(value)]="usuarioNuevo.apellidos" class="controles" placeholder="Apellidos"></dx-text-box>
                                                            </div>

                                                            <div class="form-group">
                                                                <dx-number-box [(value)]="usuarioNuevo.cedula" class="controles" placeholder="Cedula"></dx-number-box>
                                                            </div>

                                                            <div class="form-group">
                                                                <dx-text-box [(value)]="usuarioNuevo.correo" class="controles" placeholder="Correo"></dx-text-box>
                                                            </div>

                                                            <div class="form-group">
                                                                <dx-text-box [(value)]="usuarioNuevo.contrasenia" class="controles" placeholder="Contraseña"></dx-text-box>
                                                            </div>

                                                            <div class="form-group">
                                                                <button class="ps-btn ps-btn--fullwidth color-principal" (click)="registrar()">Registrar</button>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2"></div>
                        </div>
                        
                        
                    </div>


                </div>

                <div class="ps-section__content" *ngIf="seccionTienda">
                 <h2>Tienda</h2>
                </div>

                <div class="ps-section__content" *ngIf="seccionPago">
                    <h2>pago</h2>
                </div>


                

 
            </div>

        </div>

    </div>

    
   
	
</body>
