
.centrar{
    text-align: center;
}

.btn-table{
    color: red;
    font-weight: bold;
    background-color: transparent;
    border-color: transparent;
}

.color-principal{
    background-color: #1db61d;
    color: white;
    border-color: transparent;
}

::ng-deep .dx-radio-value-container {
    margin-top: 1em;
}


.header__content {
  background-color: #1db61d;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.ps-logo{
  margin-top: -1em;
}

.icon-user{
  color: white;
}

.color-principal{
    background-color: #1db61d;
    color: white;
    border-color: transparent;
}

.controles{
    height: 4rem;
}


.centrar{
  text-align: center;
}

.btnCreate{
  font-size: 12pt;
  
}

.text-center{
  text-align: center;
  align-content: center;
}

