
 <header class="header header--standard header--market-place-4" data-sticky="true" >
    <!--=====================================
    Header Content
    ======================================-->

    <div class="header__content">
        <div class="container">
            <div class="header__content-left">
                <!--=====================================
                Logo
                ======================================-->
                <a class="ps-logo" href="index.html">
                <img src="../../../assets/icono.png" class="pt-3" alt="">
                </a>
                <!--=====================================
                Menú
                ======================================-->
                <div class="menu--product-categories">
                    
                    <div class="menu__toggle">
                        <i class="icon-menu"></i>
                        <span> Shop by Department</span>
                    </div>

                    <div class="menu__content" >
                        <ul class="menu--dropdown" >
                            <li class="menu-item-has-children has-mega-menu">
                                <a href="#"><i class="icon-laundry"></i>Plaguicidas</a>
                                <div class="mega-menu">
                                    <div class="mega-menu__column">
                                        <h4 (click)="llamarporcategorias([1,2])">Fungicidas<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li><a (click)="llamarsubcategorias(1)">De contacto</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(2)">Sistémico</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="mega-menu__column">
                                        <h4 (click)="llamarporcategorias([5,6])">Insecticidas<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li><a (click)="llamarsubcategorias(5)">Orgánicos</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(6)">Inorgánicos</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="mega-menu__column">
                                        <h4 (click)="llamarporcategorias([7,8])">Acaricidas<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li><a (click)="llamarsubcategorias(7)">Doméstico</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(8)">Ganadero</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="mega-menu__column">
                                        <h4 (click)="llamarporcategorias([9,10])">Rodenticidas<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li><a (click)="llamarsubcategorias(9)">De acción acelerada</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(10)">De acción lenta</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                    <div class="mega-menu__column">
                                        <h4 (click)="llamarporcategorias([11,12,13,14])">Herbicidas<span class="sub-toggle"></span></h4>
                                        <ul class="mega-menu__list">
                                            <li><a (click)="llamarsubcategorias(11)">Residuales</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(12)">Foliares</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(13)">Presiembra</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(14)">Postsiembra</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item-has-children has-mega-menu">
                                <a href="" (click)="llamarporcategorias([15,16,17])"><i class="icon-laundry"></i> Fertilizantes</a>
                                <div class="mega-menu">
                                    <div class="mega-menu__column">                             
                                        <ul class="mega-menu__list">
                                            <li><a (click)="llamarsubcategorias(15)">De origen natural</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(16)">Fabricados</a>
                                            </li>
                                            <li><a (click)="llamarsubcategorias(17)">Biofertilizantes</a>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div><!-- End menu-->
            </div><!-- End Header Content Left-->

            <!--=====================================
            Search
            ======================================-->

            <div class="header__content-center">
                <form class="ps-form--quick-search" action="index.html" method="get">
                    <input class="form-control" type="text" placeholder="Nombre del producto">
                    <button>Buscar</button>
                </form>
            </div>

            <div class="header__content-right">

                <div class="header__actions">

                    <!--=====================================
                    Wishlist
                    ======================================-->

                    <a class="header__extra" href="#">
                        <i class="icon-heart"></i><span><i>0</i></span>
                    </a>

                    <!--=====================================
                    Cart
                    ======================================-->

                    <div class="ps-cart--mini">

                        <a class="header__extra" href="#">
                            <i class="icon-bag2"></i><span><i>0</i></span>
                        </a>

                        <div class="ps-cart__content">
                            <div class="ps-cart__items">
                                <div class="ps-product--cart-mobile">
                                    <div class="ps-product__thumbnail">
                                        <a href="#">
                                            <img src="../shared/../shared/img/products/clothing/7.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="ps-product__content">
                                        <a class="ps-product__remove" href="#">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                        <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                        <small>1 x $59.99</small>
                                    </div>
                                </div>

                                <div class="ps-product--cart-mobile">
                                    <div class="ps-product__thumbnail">
                                        <a href="#">
                                            <img src="../shared/img/products/clothing/5.jpg" alt="">
                                        </a>
                                    </div>

                                    <div class="ps-product__content">
                                        <a class="ps-product__remove" href="#">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                        <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                        <small>1 x $59.99</small>
                                    </div>
                                </div>
                            </div>

                            <div class="ps-cart__footer">

                                <h3>Sub Total:<strong>$59.99</strong></h3>
                                <figure>
                                    <a class="ps-btn" href="shopping-cart.html">View Cart</a>
                                    <a class="ps-btn" href="checkout.html">Checkout</a>
                                </figure>
                            </div>
                        </div>
                    </div>

                    <!--=====================================
                    Login and Register
                    ======================================-->

                    <div class="ps-block--user-header">
                        <div class="ps-block__left">
                            <i class="icon-user"></i>
                        </div>
                        <div class="ps-block__right" *ngIf="!isLoged">
                            <a routerLink="/login">Ingresar</a>
                            <a routerLink="/register">Registrar</a>
                        </div>
                        <div class="ps-block__right" *ngIf="isLoged">
                            <a >{{nombreUsuario}}</a>
                            <a (click)="logout()">Salir</a>
                        </div>
                    </div>
                </div><!-- End Header Actions-->
            </div><!-- End Header Content Right-->
        </div><!-- End Container-->
    </div><!-- End Header Content-->
</header>
<br><br><br>
<div class="ps-section--shopping ps-shopping-cart" *ngIf="mostrarPaso1">
    <div class="container">
        <div class="centrar">
            <h1>Carrito de Compras</h1><br>
        </div>

        <div class="ps-section__content centrar">
            <div class="table-responsive">
                <table class="table ps-table--shopping-cart centrar">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of ordenes;let i = index">
                            <td>
                                <div class="ps-product--cart">
                                    <div class="ps-product__thumbnail">
                                        <a href="product-default.html"><img src="{{element.imagen}}" alt=""></a>
                                    </div>
                                    <div class="ps-product__content">
                                        <a (click)="mostrarPopupProducto(element)">{{element.nombre_producto}}</a>
                                        <p>Sold By:<strong> YOUNG SHOP</strong></p>
                                    </div>
                                </div>
                            </td>

                            <td class="price">${{element.precio}}</td>
                            <td>
                                <div class="form-group--number">
                                    <dx-number-box [(value)]="element.cantidad" (onChange)="calcularTotal()" ></dx-number-box>
                                </div>
                            </td>
                            <td>${{element.total}}</td>                             
                            <td>
                                <button class="btn-table" (click)="eliminarRegistro(i)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <div class="d-flex flex-row-reverse">
                <div class="p-2"><h3>Total <span>${{totalCompra}}</span></h3></div>             
            </div>
            <div class="ps-section__cart-actions">
                <a class="ps-btn color-principal" (click)="seguirComprando()">
                    <i class="icon-arrow-left"></i> Seguir comprando
                </a>

                <a class="ps-btn color-principal" (click)="cambiarPantalla(2)">
                    Continuar <i class="icon-arrow-right"></i> 
                </a>
            </div>
 
        </div> 
    </div>
</div>


<div class="ps-checkout ps-section--shopping" *ngIf="mostrarPaso2">
    <div class="container">
        <div class="col-md-12 centrar">
            <h1>Verificar Pedido</h1><br>
        </div>

        <div class="ps-section__content">
            <form class="ps-form--checkout" action="do_action" method="post">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-sm-12">
                        <div class="ps-form__billing-info">
                            <h4 class="ps-form__heading">Datos de Envio</h4>
                            <div class="form-group">
                                <label>Nombres<sup>*</sup></label>
                                <dx-text-box [(value)]="newDatosEnvio.nombres" placeholder="Nombres completos"></dx-text-box>
                            </div>

                             <div class="form-group">
                                <label>Celular<sup>*</sup></label>
                                <dx-text-box [(value)]="newDatosEnvio.celular" placeholder="Celular"></dx-text-box>
                            </div>

                             <div class="form-group">
                                <label>Dirección<sup>*</sup></label>
                                <dx-text-box [(value)]="newDatosEnvio.direccion" placeholder="Dirección de entrega"></dx-text-box>
                            </div>
                        </div>

                    </div>

                    <div class="col-xl-5 col-lg-4 col-sm-12">
                        <div class="ps-form__total">
                            <h4 class="ps-form__heading">Tu Orden</h4>
                            <div class="content">
                                <div class="ps-block--checkout-total">
                                    <div class="ps-block__header d-flex justify-content-between centrar">
                                        <p  style="color: black;font-weight: bold;">Producto</p>
                                        <p  style="color: black;font-weight: bold;">Total</p>
                                    </div>
                                    <div class="ps-block__content">
                                        <table class="table ps-block__products">
                                            <tbody>
                                                <tr *ngFor="let element of ordenes;let i = index">
                                                    <td>
                                                        <a> {{element.nombre_producto}}</a>
                                                    </td>
                                                    <td class="text-right">${{element.total}}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                        
                                        <h2 class="text-right">Total <span>${{totalCompra}}</span></h2>
                                    </div>
                                </div>

                                <hr class="py-3">

                                <div class="form-group">
                                   <div class="ps-radio">
                                        <input class="form-control" type="radio" id="pay-paypal" (change)="asignarValor(1)" name="payment-method" value="paypal" checked>
                                        <label for="pay-paypal" style="color: black;">Contacto Directo</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="ps-radio">
                                        <input class="form-control" type="radio" id="pay-payu" [disabled]="disablePago2" (change)="asignarValor(2)" name="payment-method">
                                        <label for="pay-payu" style="color: black;">Pago contra entrega </label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="ps-radio">
                                        <input class="form-control" type="radio" id="pay-mercadopago" (change)="asignarValor(3)" name="payment-method" value="mercado-pago">
                                        <label for="pay-mercadopago" style="color: black;">Transferencia / Depósito Bancario</label>
                                    </div>
                                </div>

                                <a class="ps-btn ps-btn--fullwidth" (click)="realizarPedido()">Realizar Pedido</a>

                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="row">
            <div class="col-md-3" style="float: right;">
                <div class="ps-section__cart-actions">
                    <a class="ps-btn" (click)="cambiarPantalla(1)" >
                            <i class="icon-arrow-left"></i> Atras
                    </a>
                </div>
            </div>
                <div class="col-md-9"></div>
        </div>

    </div>

</div>
  




<dx-popup
    [width]="'60%'"
    [height]="'70%'"
    [showTitle]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="row">
            <div class="col-md-4"><img src="{{productoMostrado.imagen}}" alt=""></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"><h2>{{productoMostrado.nombre}}</h2></div>
                    <div class="col-md-12">
                        <h4>Descripcion:</h4>
                        <p>{{productoMostrado.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</dx-popup>