
 <header class="header header--standard header--market-place-4" data-sticky="true" *ngIf="mostrarMenu">
    <!--=====================================
    Header Content
    ======================================-->

    <div class="header__content">
        <div class="container">
            <div class="header__content-left">
                <!--=====================================
                Logo
                ======================================-->
                <a class="ps-logo" href="index.html">
                <img src="../../../assets/icono.png" class="pt-3" alt="">
                </a>
                <!--=====================================
                Menú
                ======================================-->
                <div class="menu--product-categories">
                    <div class="menu__toggle" (click)="redirigir()">
                        <i class="icon-menu"></i>
                    </div>
                </div><!-- End menu-->
            </div><!-- End Header Content Left-->
            <!--=====================================
            Search
            ======================================-->
            <div class="header__content-center">
                <form class="ps-form--quick-search" action="index.html" method="get" >
                    <dx-autocomplete #data2
                                        valueExpr="nombre"
                                        placeholder="Nombre del producto" class="buscador" style="width: 100%;">
                                    </dx-autocomplete>
                    <button>Buscar</button>
                </form>
            </div>

            <div class="header__content-right">
                <div class="header__actions">
                   
                    <!--=====================================
                    Cart
                    ======================================-->
                    <div class="ps-cart--mini">

                        <a class="header__extra" href="#">
                            <i class="icon-bag2" ></i><span><i>0</i></span>
                        </a>

<!--                             <div class="ps-cart__content">
                            <div class="ps-cart__items">
                                <div class="ps-product--cart-mobile" *ngFor="let element of productosPorOrdenDTO;let i = index">
                                    <div class="ps-product__thumbnail">
                                        <a href="#">
                                            <img src="{{element.imagen}}" alt="">
                                        </a>
                                    </div>

                                    <div class="ps-product__content">
                                        <a class="ps-product__remove"  (click)="eliminarRegistro(i)">
                                            <i class="icon-cross"></i>
                                        </a>
                                        <a>{{element.nombre}}</a><br>
                                         <p><strong>Sold by:</strong> YOUNG SHOP</p> -->
<!--                                           <small>{{element.cantidad}} x ${{element.precio_producto}}</small>
                                    </div>
                                </div>
                            </div> -->
<!-- 
                            <div class="ps-cart__footer">
                                <h3>Total:<strong>${{totalCompra}}</strong></h3>
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" style="text-align: center;">
                                            <a class="ps-btn color-principal" (click)="verCarrito()">Ver Carrito</a>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                    <!--=====================================
                    Login and Register
                    ======================================-->

                    <div class="ps-block--user-header">
                        <div class="ps-block__left">
                            <i class="icon-user" (click)="irPerfilUsuario()"></i>
                        </div>
                        <div class="ps-block__right" *ngIf="!isLoged">
                            <a routerLink="/login">Ingresar</a>
                            <a routerLink="/register">Registrar</a>
                        </div>
                        <div class="ps-block__right" *ngIf="isLoged">
                            <a (click)="irPerfilUsuario()">{{nombreUsuario}}</a>
                            <a (click)="logout()">Salir</a>
                        </div>
                    </div>
                </div><!-- End Header Actions-->
            </div><!-- End Header Content Right-->
        </div><!-- End Container-->
    </div><!-- End Header Content-->
</header>
<br><br><br>
<div class="ps-section--shopping ps-shopping-cart" *ngIf="mostrarPaso1">
    <div class="container">
        <div class="centrar">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6"> <h1>Carrito de Compras</h1><br></div>
                <div class="col-md-3">
                    <button (click)="cancelarPedido()" class="btn" style="width: 60%;margin-top: 1em;font-size: 11pt;color: white;background-color: red;">Cancelar</button>
                </div>
            </div>
           
        </div>

        <div class="ps-section__content centrar">
            <div class="table-responsive">
                <table class="table ps-table--shopping-cart centrar">
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of productosPorOrdenDTO;let i = index">
                            <td>
                                <div class="ps-product--cart">
                                    <div class="ps-product__thumbnail">
                                        <a><img src="{{element.imagen}}" alt=""></a>
                                    </div>
                                    <div class="ps-product__content">
                                        <a>{{element.nombre}}</a>
                                       <!--  <p>Sold By:<strong> YOUNG SHOP</strong></p> -->
                                    </div>
                                </div>
                            </td>

                            <td class="price">${{element.precio_producto}}</td>
                            <td>
                                <div class="form-group--number">
                                    <dx-number-box [(value)]="element.cantidad" (onChange)="actualizarCantidadProducto(element)" ></dx-number-box>
                                </div>
                            </td>
                            <td>${{element.total_producto}}</td>                             
                            <td>
                                <button class="btn-table" (click)="eliminarRegistro(i,element)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>

            <div class="d-flex flex-row-reverse">
                <div class="p-2"><h3>Total <span>${{totalCompra}}</span></h3></div>             
            </div>
            <div class="ps-section__cart-actions">
                <a class="ps-btn color-principal" (click)="seguirComprando()">
                    <i class="icon-arrow-left"></i> Seguir comprando
                </a>

                <a class="ps-btn color-principal" (click)="cambiarPantalla(2)">
                    Continuar <i class="icon-arrow-right"></i> 
                </a>
            </div>
 
        </div> 
    </div>
</div>


<div class="ps-checkout ps-section--shopping" *ngIf="mostrarPaso2">
    <div class="container">
        <div class="col-md-12 centrar">
            <h1>Verificar Pedido</h1><br>
        </div>

        <div class="ps-section__content">
            <form class="ps-form--checkout" action="do_action" method="post">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-sm-12">
                        <div class="ps-form__billing-info">
                            <div class="row">
                                <div class="col-md-3"><h4 class="ps-form__heading">Datos de Envio</h4></div>
                                <div class="col-md-9"><button (click)="habilitarcampos()" class="color-principal btn" >Utilizar otros datos</button></div>
                            </div>
                            
                            <div class="form-group">
                                <label>Nombres<sup>*</sup></label>
                                <dx-text-box [(value)]="nuevaOrden.nombres" [disabled]="!camposedicion" placeholder="Nombres completos"></dx-text-box>
                            </div>

                             <div class="form-group">
                                <label>Celular<sup>*</sup></label>
                                <dx-text-box [(value)]="nuevaOrden.celular" [disabled]="!camposedicion" placeholder="Celular"></dx-text-box>
                            </div>

                             <div class="form-group">
                                <label>Dirección<sup>*</sup></label>
                                <dx-text-box [(value)]="nuevaOrden.direccion" [disabled]="!camposedicion"  placeholder="Dirección de entrega"></dx-text-box>
                            </div>
                            <div class="form-group">
                                <label>Cédula<sup>*</sup></label>
                                <dx-text-box [(value)]="nuevaOrden.cedula_envio" [disabled]="!camposedicion" placeholder="Cédula para el envío"></dx-text-box>
                            </div>
                            
                        </div>

                    </div>

                    <div class="col-xl-5 col-lg-4 col-sm-12">
                        <div class="ps-form__total">
                            <h4 class="ps-form__heading">Tu Orden</h4>
                            <div class="content">
                                <div class="ps-block--checkout-total">
                                    <div class="ps-block__header d-flex justify-content-between centrar">
                                        <p  style="color: black;font-weight: bold;">Producto</p>
                                        <p  style="color: black;font-weight: bold;">Total</p>
                                    </div>
                                    <div class="ps-block__content">
                                        <table class="table ps-block__products">
                                            <tbody>
                                                <tr *ngFor="let element of productosPorOrdenDTO;let i = index">
                                                    <td>
                                                        <a> {{element.nombre}}</a>
                                                    </td>
                                                    <td class="text-right">${{element.total_producto}}</td>
                                                </tr>

                                            </tbody>

                                        </table>
                                        
                                        <h2 class="text-right">Total <span>${{totalCompra}}</span></h2>
                                    </div>
                                </div>

                                <hr class="py-3">

                                <div class="form-group">
                                    <div class="ps-radio">
                                         <input class="form-control" for="pay-paypal" [disabled]="isPago3" type="radio" id="pay-paypal" (change)="asignarValor(3)" name="payment-method">
                                         <label  style="color: black;" for="pay-paypal" *ngIf="!isPago3">Contacto Directo</label>
                                         <label  *ngIf="isPago3" style="color: black;text-decoration:line-through;">Contacto Directo</label>
                                     </div>
                                     <div *ngIf="dataContactoDirecto">
                                         <div class="row">
                                             <div class="col-md-2"></div>
                                             <div class="col-md-10">
                                                 <div class="row ayuda">
                                                     <div class="col-md-12"><p><span style="font-weight: bold;">Telefono: </span>{{datosTienda.telefono}}</p></div>
                                                     <div class="col-md-12"><p><span style="font-weight: bold;">Correo: </span>{{datosTienda.correo_electronico}}</p></div>
                                                     <div class="col-md-12"><p><span style="font-weight: bold;">Dirección: </span>{{datosTienda.direccion}}</p></div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
 
                                 <div class="form-group">
                                     <div class="ps-radio">
                                         <input class="form-control" for="pay-payu" type="radio" [disabled]="isPago2" id="pay-payu"  (change)="asignarValor(2)" name="payment-method">
                                         <label  style="color: black;"  for="pay-payu" *ngIf="!isPago2">Pago contra entrega </label>
                                         <label  *ngIf="isPago2" style="color: black;text-decoration:line-through;">Pago contra entrega </label>
                                     </div>
                                 </div>
 
                                 <div class="form-group">
                                     <div class="ps-radio">
                                         <input class="form-control" for="pay-mercadopago" type="radio" [disabled]="isPago1" id="pay-mercadopago" (change)="asignarValor(1)" name="payment-method">
                                         <label  style="color: black;"  for="pay-mercadopago" *ngIf="!isPago1">Transferencia / Depósito Bancario</label>
                                         <label  *ngIf="isPago1" style="color: black;text-decoration:line-through;">Transferencia / Depósito Bancario</label>
                                     </div>
                                     <div *ngIf="dataTransferencia">
                                         <div class="row">
                                             <div class="col-md-2"></div>
                                             <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-2"></div>
                                                    <div class="col-md-10" >
                                                        <div class="row ayuda card" style="margin-top: 1em;" *ngFor="let element of listaDatosCuenta;let i = index">
                                                            <div class="col-md-12 centrar"><p><span style="font-weight: bold;">Banco: </span>{{element.descripcion}}</p></div>
                                                            <div class="col-md-12"><p><span style="font-weight: bold;">Titular Cuenta: </span>{{element.titular_cuenta}}</p></div>
                                                            <div class="col-md-12"><p><span style="font-weight: bold;">Cédula: </span>0{{element.cedula_titular}}</p></div>
                                                            <div class="col-md-12"><p><span style="font-weight: bold;">Número Cuenta: </span>{{element.numero_cuenta}}</p></div>
                                                            <div class="col-md-12"><p><span style="font-weight: bold;">Tipo Cuenta: </span>{{element.tipo_cuenta}}</p></div>
                                                            <br>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                             </div>
                                         </div>
                                         <div class="row">

                                           
                                             <div class="col-md-10">
                                                  <div class="col-md-10">
                                                     <img src="{{imagenPago}}" alt="">
                                                     <br><br><br>
                                                     <label>Escoge una imagen:</label><br>
                                                     <input type="file" class="btn color-principal" (change)="handleFileSelect($event)" height="5em">
                                                     <br>
                                                 </div>
                                             </div>
                                             <div class="col-md-2">
                                                <a class="ps-product__remove"  (click)="limpiarimagen()">
                                                    <i class="icon-cross"></i>
                                                </a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>

                                <a class="ps-btn ps-btn--fullwidth color-principal" (click)=" verificarcampos()">Realizar Pedido</a>

                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="row">
            <div class="col-md-3" style="float: right;">
                <div class="ps-section__cart-actions">
                    <a class="ps-btn color-principal" (click)="cambiarPantalla(1)" >
                            <i class="icon-arrow-left"></i> Atras
                    </a>
                </div>
            </div>
                <div class="col-md-9"></div>
        </div>

    </div>

</div>
  




<dx-popup
    [width]="'60%'"
    [height]="'70%'"
    [showTitle]="true"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="row">
            <div class="col-md-4"><img src="{{productoMostrado.imagen}}" alt=""></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"><h2>{{productoMostrado.nombre}}</h2></div>
                    <div class="col-md-12">
                        <h4>Descripcion:</h4>
                        <p>{{productoMostrado.descripcion}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</dx-popup>