.color-principal{
    background-color: #1db61d;
    color: white;
}

.centrar{
    text-align: center;
}

 ::ng-deep .datagrid-table .datagrid-column {
    justify-content: center;
  }


  .form-group p{
      color: black;
  }

  input[type="file"] {
    height: 3em;
}
