
<ul class="ps-section__links">
                      
        <li><a (click)="mostrarSecProducto(1)">Mis Productos</a></li>
        <li><a (click)="mostrarSecProducto(2)">Nuevo Producto</a></li>
        <!-- button>Nuevo</button> -->
    </ul>

        <div class="ps-section__content" *ngIf="seccionListProducto">
            <div class="row">
                <div class="col-md-12 centrar"><h2>Lista de productos</h2></div>
            </div>
        
        <dx-data-grid
            id="gridContainer"
            [dataSource]="listaproductos"
            keyExpr="id_producto"
            [showBorders]="true">
            <dxi-column
                dataField="imagen"
                [width]="100"
                [allowFiltering]="false"
                [allowSorting]="false"
                cellTemplate="cellTemplate"
            ></dxi-column>
            <dxi-column dataField="nombre" caption="Nombre Productos"></dxi-column>
            <dxi-column dataField="descripcion" caption="Descripcion"></dxi-column>
            <dxi-column dataField="precio" caption="Precio"></dxi-column>
            <dxi-column dataField="stock" caption="stock"></dxi-column>
            <dxi-column dataField="nombre_estado" caption="Estado"></dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
                <img [src]="data.value" />
            </div>

            <dxo-export [enabled]="true" fileName="Productos"></dxo-export>
                <dxo-paging [pageSize]="4"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[5,8,10]"
                ></dxo-pager>
        </dx-data-grid>
    </div>

    <div class="ps-section__content" *ngIf="seeccionNewProducto">

        <div class="row">
        <div class="col-md-12" *ngIf="!isedicionpro;" style="text-align: center;"><h2>Nuevo Producto</h2></div>
        <div class="col-md-12" *ngIf="isedicionpro;" style="text-align: center;"><h2>Editar producto</h2></div>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4">Imagen</div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="ps-tabs">
                                <div class="ps-tab active">
                                    <div class="ps-form__content">
                                        <div class="form-group">
                                            <dx-text-box  [(value)]="productonuevo.nombre"  class="controles" placeholder="Nombre del producto"> </dx-text-box>  
                                                      
                                        </div>
                                        <div class="form-group">
                                            <dx-select-box [items]="listacategorias" [(value)]="categorias.id_categoria"  valueExpr="id_categoria" displayExpr="descripcion_cat" placeholder="Selecciona la categoria"  (onValueChanged)="traersub($event)" ></dx-select-box>
                                        </div>

                                        <div class="form-group">
                                            <dx-select-box [items]="listasubcategorias" [(value)]="productonuevo.id_sub_categoria" *ngIf="edicionsubcategoria" valueExpr="id_sub_categoria" displayExpr="descripcion_sub" placeholder="Selecciona la subcategoria"></dx-select-box>
                                        </div>
                                        <div class="form-group">
                                           <!--  mask="99.99" [maskRules]="rules" -->
                                            <dx-number-box [(value)]="productonuevo.precio" type="number" class="controles" placeholder="Precio"></dx-number-box>
                                        </div>

                                        <div class="form-group">
                                            <dx-number-box  [(value)]="productonuevo.stock" class="controles" placeholder="Stock"></dx-number-box>
                                        </div>

                                        <div class="form-group" >
                                    
                                            <dx-text-area [height]="90" [maxLength]="500" [(value)]="productonuevo.descripcion" placeholder="Descripcion"></dx-text-area>
                                        </div>
                                        


                                        <div class="form-group" >
                                            <button class="ps-btn ps-btn--fullwidth color-principal" *ngIf="!isedicionpro;" (click)="verificarcampos()">Registrar</button>
                                        </div>
                                        <div class="form-group" >
                                            <button class="ps-btn ps-btn--fullwidth color-principal" *ngIf="isedicionpro;" (click)="verificarcampos()">Actualizar</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
                        
</div>



                        