
<ul class="ps-section__links" >      
    <li *ngIf="seccionListProducto" style="background:#D8D8D8; padding:1rem;"><a (click)="mostrarSecProducto(1)">Mis Productos</a></li>
    <li *ngIf="!seccionListProducto" ><a (click)="mostrarSecProducto(1)">Mis Productos</a></li>
    
    <li *ngIf="seccionNewProducto" style="background:#D8D8D8; padding:1rem;"><a (click)="mostrarSecProducto(2)">Nuevo Producto</a></li>
    <li *ngIf="!seccionNewProducto" ><a (click)="mostrarSecProducto(2)">Nuevo Producto</a></li>
    
    <li *ngIf="seccionEstadistica" style="background:#D8D8D8; padding:1rem;"><a (click)="mostrarSecProducto(3)">Estadísticas</a></li>
    <li *ngIf="!seccionEstadistica" ><a (click)="mostrarSecProducto(3)">Estadísticas</a></li>
</ul>
<div class="ps-page__content text-center row" *ngIf="poseetienda">
    <div class="container">
        <div class="ps-section__header">
            <h1>Te acabas de registrar?</h1>
            <h4>Para agregar productos primero registra una tienda <br> ...ve a sección tienda</h4>
        </div>

        <div class="row">
            <div class="col-lg-4 col-12"></div>
            <div class="col-lg-4 col-12">
                <div class="card">
                    <div class="card-body">
                        <img src="../../../assets/img/shop-2.jpg" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12"> </div>
        </div>
    </div>
</div>



    <div class="ps-section__content" *ngIf="seccionListProducto" >
        <div class="row centrar">
            <div class="col-md-12"><h2>Lista de productos</h2></div>
        </div>
        
        <dx-data-grid
            id="gridContainer"
            [dataSource]="listaproductos"
            keyExpr="id_producto"
            [showBorders]="true"
            >
            <dxo-search-panel [visible]="true"></dxo-search-panel>
            <dxi-column
                dataField="imagen"
                [width]="100"
                [allowFiltering]="false"
                [allowSorting]="false"
                cellTemplate="cellTemplate"
            ></dxi-column>
            <dxi-column dataField="codigo" alignment="center" caption="Código producto "></dxi-column>
            <dxi-column dataField="nombre" alignment="center" caption="Nombre Productos"></dxi-column>
            <dxi-column dataField="descripcion"  alignment="center"  caption="Descripcion"></dxi-column>
            <dxi-column dataField="precio"  alignment="center"  caption="Precio"></dxi-column>
            <dxi-column dataField="stock"  alignment="center"  caption="stock"></dxi-column>
            <dxi-column  dataField="nombre_estado"  alignment="center"  caption="Estado" ></dxi-column>
            <dxi-column  dataField="comen_aprobacion"  alignment="center"  caption="Observación" ></dxi-column>
            
            <div *dxTemplate="let data of 'cellTemplate'">
                <img [src]="data.value" />
            </div>

            <dxi-column type="buttons"  caption="Editar">
                <dxi-button icon="fas fa-edit" [onClick]="editProduct"></dxi-button>    
            </dxi-column>
            <dxi-column type="buttons"  caption="Eliminar">
                <dxi-button icon="fas fa-trash-alt" [onClick]="deleteProduct"></dxi-button>    
            </dxi-column>
            <dxo-export [enabled]="true" fileName="Productos"></dxo-export>
                <dxo-paging [pageSize]="4"></dxo-paging>
                <dxo-pager
                    [showPageSizeSelector]="true"
                    [allowedPageSizes]="[5,8,10]"
                    [showNavigationButtons]="true"
                    [showInfo]="true"
                    infoText="Página {0} de {1}"
                ></dxo-pager>
        </dx-data-grid>
    </div>

    <div class="ps-section__content" *ngIf="seccionNewProducto">
        <br>
        <div class="row">
        <div class="col-md-12" *ngIf="!isedicionpro;" style="text-align: center;"><h2>Nuevo Producto</h2></div>
        <div class="col-md-12" *ngIf="isedicionpro;" style="text-align: center;"><h2>Editar producto</h2></div>
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-12" *ngIf="!isedicionpro;">
 
                        <img src="{{productonuevo.imagen}}" alt="">
                        <br><br><br>
                        <label>Escoge una imagen:</label><br>
                        <input type="file"  #archivo class="btn color-principal" (change)="handleFileSelect($event)" height="5em">
                        <br>
                    </div>
                    <div class="col-md-12" *ngIf="isedicionpro;">
 
                        <img src="{{producompletoaeditar.imagen}}" alt="">
                        <br><br><br>
                        <label>Escoge una imagen:</label><br>
                        <input type="file" id="archivo" class="btn color-principal" (change)="handleFileSelect($event)" height="5em">
                        <br>
                    </div>
                    
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="ps-tabs">
                                <div class="ps-tab active">
                                    <div class="ps-form__content">
                                        <div class="form-group">
                                            <div class="row">
                                                 <div class="col-md-3" style="margin-top: -1em;"><p>Código *</p></div>
                                                 <div class="col-md-8  " *ngIf="!isedicionpro;">
                                                     <dx-text-box   [maxLength]="8" pattern="[A-Za-z0-9]" [(value)]="productonuevo.codigo"  class="controles" placeholder="Código del producto">
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required"  message="El código del producto es requerido"></dxi-validation-rule>
                                                            <dxi-validation-rule type="pattern" pattern="[A-Za-z0-9]" message="Debe ingresar un código válido"></dxi-validation-rule></dx-validator> </dx-text-box>       
                                                 </div>
                                                 <div class="col-md-9" *ngIf="isedicionpro;">
                                                     <dx-text-box  [(value)]="producompletoaeditar.codigo" [disabled]="true" class="controles" > </dx-text-box>       
                                                 </div>
                                                 <div class="col-md-1 text-align-start" *ngIf="!isedicionpro;">
                                                    <span  title="El código es propio para cada producto, debe constar entre 4 a 8 carácteres, puede ingresar un código de solo números, solo letras o una combinación de letras y números, le recomendamos utilizar el código de barras del producto para mayor facilidad."><i style="margin-top:1rem;" class="fa fa-info-circle fa-lg" aria-hidden="true"></i></span>
                                                 </div>
                                             </div>
                                         </div>
                                        <div class="form-group">
                                           <div class="row">
                                                <div class="col-md-3" style="margin-top: -1em;"><p>Nombre *</p></div>
                                                <div class="col-md-9" *ngIf="!isedicionpro;">
                                                    <dx-text-box  [maxLength]="30" [(value)]="productonuevo.nombre"  class="controles" placeholder="Nombre del producto"> 
                                                        <dx-validator>
                                                            <dxi-validation-rule type="required"  message="El nombre del producto es requerido"></dxi-validation-rule></dx-validator>
                                                    </dx-text-box>       
                                                </div>
                                                <div class="col-md-9" *ngIf="isedicionpro;">
                                                    <dx-text-box  [maxLength]="30" [(value)]="producompletoaeditar.nombre"  class="controles" placeholder="Nombre del producto"> </dx-text-box>       
                                                    <dx-validator>
                                                        <dxi-validation-rule type="required"  message="El nombre del producto es requerido"></dxi-validation-rule></dx-validator>
                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3" style="margin-top: -1em;"><p>Categoria *</p></div>
                                                <div class="col-md-9" *ngIf="!isedicionpro" >
                                                    <dx-select-box [items]="listacategorias" [(value)]="categorias.id_categoria"  valueExpr="id_categoria" displayExpr="descripcion_cat" placeholder="Selecciona la categoria"  (onValueChanged)="traersub($event)" ></dx-select-box>
                                                </div>
                                                <div class="col-md-9" *ngIf="isedicionpro;">
                                                    <dx-select-box [items]="listacategorias" [(value)]="categorias.id_categoria"  valueExpr="id_categoria" displayExpr="descripcion_cat" placeholder="Selecciona la categoria"  (onValueChanged)="traersub($event)" ></dx-select-box>
                                                </div>
                                            </div>
                                            
                                        </div>

                                        <div class="form-group"  *ngIf="edicionsubcategoria" >
                                            <div class="row">
                                                <div class="col-md-3" style="margin-top: -1em;"><p>Subcategoría *</p></div>
                                                <div class="col-md-9">
                                                    <dx-select-box [items]="listasubcategorias" [(value)]="productonuevo.id_sub_categoria" valueExpr="id_sub_categoria" displayExpr="descripcion_sub" placeholder="Selecciona la subcategoria"></dx-select-box>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group"   *ngIf="isedicionpro;" >
                                            <div class="row">
                                                <div class="col-md-3" style="margin-top: -1em;"><p>Subcategoría *</p></div>
                                                <div class="col-md-9">
                                                    <dx-select-box [items]="listasubcategorias" [(value)]="producompletoaeditar.id_sub_categoria" valueExpr="id_sub_categoria" displayExpr="descripcion_sub" placeholder="Selecciona la subcategoria"></dx-select-box>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3" style="margin-top: -1em;"><p>Precio $ *</p></div>
                                                <div class="col-md-9" *ngIf="!isedicionpro;">
                                                    <dx-number-box [min]="1" [max]="999999999" [(value)]="productonuevo.precio" type="number" class="controles" placeholder="Precio"></dx-number-box>
                                                </div>
                                                <div class="col-md-9" *ngIf="isedicionpro;">
                                                    <dx-number-box [min]="1" [max]="999999999" [(value)]="producompletoaeditar.precio" type="number" class="controles" placeholder="Precio"></dx-number-box>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-3" style="margin-top: -1em;"><p>Stock *</p></div>
                                                <div class="col-md-9" *ngIf="!isedicionpro;">
                                                    <dx-number-box [min]="10" [max]="9999999999" [(value)]="productonuevo.stock" class="controles" placeholder="Stock"></dx-number-box>
                                                </div>
                                                <div class="col-md-9" *ngIf="isedicionpro;">
                                                    <dx-number-box [min]="10" [max]="9999999999" [(value)]="producompletoaeditar.stock" class="controles" placeholder="Stock"></dx-number-box>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" *ngIf="!isedicionpro;">
                                            <dx-text-area [height]="90" [maxLength]="500" [(value)]="productonuevo.descripcion" placeholder="Descripcion"></dx-text-area>
                                        </div>
                                        <div class="form-group" *ngIf="isedicionpro;">
                                            <dx-text-area [height]="90" [maxLength]="500" [(value)]="producompletoaeditar.descripcion" placeholder="Descripcion"></dx-text-area>
                                        </div>
                                        


                                        <div class="form-group" >
                                            <button class="ps-btn ps-btn--fullwidth color-principal" *ngIf="!isedicionpro;" (click)="verificarcampos()">Registrar</button>
                                        </div>
                                        <div class="form-group" >
                                            <button class="ps-btn ps-btn--fullwidth color-principal" *ngIf="isedicionpro;" (click)="verificarcamposacutalizar()">Actualizar</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
                        
</div>


<div *ngIf="seccionEstadistica">
    <dx-pie-chart
        type="doughnut"
        title="Listado de Productos más vendidos"
        palette="Soft Pastel"
        [dataSource]="arregloEstadisticaProductosvendidos">
        <dxi-series argumentField="nombre">
            <dxo-label [visible]="true"  position="columns" [customizeText]="customizeLabel" >
                <dxo-connector [visible]="true"></dxo-connector>
            </dxo-label>
        </dxi-series>
        <dxo-export [enabled]="true"></dxo-export>     
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
        </dxo-tooltip>
    </dx-pie-chart>

</div>
<br><br>



<div *ngIf="seccionEstadistica">
    <dx-pie-chart
        type="doughnut"
        title="Listado de Productos más visitados"
        palette="Soft Pastel"
        [dataSource]="arregloEstadisticaProductos">
        <dxi-series argumentField="nombre">
            <dxo-label [visible]="true"  position="columns" [customizeText]="customizeLabel" >
                <dxo-connector [visible]="true"></dxo-connector>
            </dxo-label>
        </dxi-series>
        <dxo-export [enabled]="true"></dxo-export>     
        <dxo-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
        </dxo-tooltip>
    </dx-pie-chart>

</div>



                        