
<body>
    <header class="header header--standard header--market-place-4" data-sticky="true">
        <!--=====================================
        Header Content
        ======================================-->

        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <!--=====================================
                    Logo
                    ======================================-->
                    <a class="ps-logo" href="index.html">
                    <img src="../../../assets/icono.png" class="pt-3" alt="">
                    </a>
                    <!--=====================================
                    Menú
                    ======================================-->
                    <div class="menu--product-categories">
                        <div class="menu__toggle" (click)="redirigir()">
                            <i class="icon-menu"></i>
                        </div>
                    </div><!-- End menu-->
                </div><!-- End Header Content Left-->
                <!--=====================================
                Search
                ======================================-->
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get" >
                        <dx-autocomplete #data2
                                           
                                            valueExpr="nombre"
                                            placeholder="Nombre del producto" class="buscador" style="width: 100%;">
                                        </dx-autocomplete>
                        <button>Buscar</button>
                    </form>
                </div>

                <div class="header__content-right">
                    <div class="header__actions">
                       
                        <!--=====================================
                        Cart
                        ======================================-->
                        <div class="ps-cart--mini">

                            <a class="header__extra" href="#">
                                <i class="icon-bag2" ></i><span><i>0</i></span>
                            </a>


                        </div>

                        <!--=====================================
                        Login and Register
                        ======================================-->

                        <div class="ps-block--user-header">
                            <div class="ps-block__left">
                                <i class="icon-user" ></i>
                            </div>
                            <div class="ps-block__right" >
                                <a routerLink="/login">Ingresar</a>
                                <a routerLink="/register">Registrar</a>
                            </div>

                        </div>
                    </div><!-- End Header Actions-->
                </div><!-- End Header Content Right-->
            </div><!-- End Container-->
        </div><!-- End Header Content-->
    </header>


	
 

  	
    <!--=====================================
    Login - Register Content
    ======================================--> 
    <div *ngIf="mostrarLoading">
        <app-loading [messagge]="mensajeLoading"></app-loading>
    </div>
    <div class="ps-my-account">
        <div class="container">
            <div class="ps-form--account ps-tab-root">
                <ul class="ps-tab-list">
                    <li class="active"><a>Login</a></li>
                </ul>
                <div class="ps-tabs">
                    <!--=====================================
                    Login Form
                    ======================================--> 

                    <div class="ps-tab active" >

                        <div class="ps-form__content">
                            <h5>Ingresa en tu cuenta</h5>
                            <div class="form-group">
                                <dx-text-box [maxLength]="10" [(value)]="user" class="controles" placeholder="Cédula" [disabled]="false"></dx-text-box>
                            </div>
                            <div class="form-group form-forgot">
                               <!--  <dx-text-box [(value)]="password" class="controles" placeholder="Contraseña" [disabled]="false"></dx-text-box> -->
                                <dx-text-box [maxLength]="100" [(value)]="password" class="controles" placeholder="Contraseña" stylingMode="filled" [(mode)]="passwordMode"  > <dxi-button
                                    name="today" location="after" [options]="passwordButton" ></dxi-button></dx-text-box>
                            </div>
                            <div>
                                <button class="ps-btn ps-btn--fullwidth color-principal" (click)="signIn()">Ingresar</button>
                            </div>
                            <br>
                            <div class="form-group tex-center col-lg-12 centrar">
                                No tienes cuenta <a routerLink="/register" class="text-center" style="text-decoration-line: underline; color:#6FD1ED">REGÍSTRATE</a>
                            </div>
                            <div class="form-group tex-center col-lg-12 recordar" *ngIf="recuperarcont">
                                <a  class="text-center" (click)="recuperar_contrasena()">He olvidado mi contraseña</a>
                            </div>
                            <br>
                        </div>
                    </div><!-- End Login Form -->
                </div>
            </div>
        </div>
    </div>
</body>
