.header__content {
  background-color: #1db61d;
  color: white;
}

.ps-logo{
  margin-top: -1em;
}

.icon-user{
  color: white;
}

.color-principal{
    background-color: #1db61d;
    color: white;
}

.recordar{
  text-align:center;
  font-size: 1.6rem;
  color:#6FD1ED;

}
.controles{
    height: 4rem;
}
.tex-center a:hover{
  color: rgb(82, 181, 211);

}
.centrar{
  text-align:center;
}
