.header__content {
  background-color: #1db61d;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
}

.cardProductos span{
  font-weight: bold;
}

.cardProductos p{
  margin-bottom: -1em;
}

.ps-logo{
  margin-top: -1em;
}

.icon-user{
  color: white;
}
#imagenpago{
  width: 11rem;
  max-height: auto;
}

.propiedad :hover{
  color: #1db61d;
}

.centrar{
    text-align: center;
}


.buscador{
  width: 100%;
}

.cardProductos{
  text-align: center;
}

.cardProductos p{
  margin-right: 1em;
  margin-left: 1em;
  text-align: left;
}

.buttonP{
  margin-top: 1.6em;
  margin-left: 1em;
  margin-right: 1em;
}

.btn{
  font-size: 12pt;
  width: 100%;
}

.btn2{
  font-size: 12pt;
  width: 40%;
  height: 2.5em;
  border-color: transparent;
}

.color-principal{
    background-color: #1db61d;
    color: white;
}

::ng-deep .dx-toolbar-label {
  font-weight: bold;
}


::ng-deep .form-group--number .dx-texteditor-input{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}