<body>

    <header class="header header--standard header--market-place-4" data-sticky="true">
      	<!--=====================================
		Header Content
		======================================-->

        <div class="header__content">

            <div class="container">

                <div class="header__content-left">

                	<!--=====================================
					Logo
					======================================-->

                	<a class="ps-logo" href="index.html">
                    <img src="../../../assets/icono.png" class="pt-3" alt="">
                	</a>

                	<!--=====================================
					Menú
					======================================-->

                    <div class="menu--product-categories">
                        
                        <div class="menu__toggle">
                        	<i class="icon-menu"></i>
                        	<span> Shop by Department</span>
                        </div>

                        <div class="menu__content" >
                            <ul class="menu--dropdown" >
                                <!-- <li>
                                	<a href="#"><i class="icon-star"></i> Plaguicidas</a>
                                </li> -->
                                <li class="menu-item-has-children has-mega-menu">
                                	<a href="#"><i class="icon-laundry"></i>Plaguicidas</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([1,2])">Fungicidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(1)">De contacto</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(2)">Sistémico</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([5,6])">Insecticidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(5)">Orgánicos</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(6)">Inorgánicos</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([7,8])">Acaricidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(7)">Doméstico</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(8)">Ganadero</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([9,10])">Rodenticidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(9)">De acción acelerada</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(10)">De acción lenta</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([11,12,13,14])">Herbicidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(11)">Residuales</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(12)">Foliares</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(13)">Presiembra</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(14)">Postsiembra</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children has-mega-menu">
                                	<a href="" (click)="llamarporcategorias([15,16,17])"><i class="icon-laundry"></i> Fertilizantes</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">                             
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(15)">De origen natural</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(16)">Fabricados</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(17)">Biofertilizantes</a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                       
                                    </div>
                                </li>
                               
                            </ul>

                        </div>

                    </div><!-- End menu-->

                </div><!-- End Header Content Left-->

                <!--=====================================
				Search
				======================================-->

                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get">
                        
                        <input class="form-control" type="text" placeholder="Nombre del producto">
                        <button>Buscar</button>
                    </form>
                </div>

                <div class="header__content-right">

                    <div class="header__actions">

                    	<!--=====================================
						Wishlist
						======================================-->

                    	<a class="header__extra" href="#">
                    		<i class="icon-heart"></i><span><i>0</i></span>
                    	</a>

                    	<!--=====================================
						Cart
						======================================-->

                        <div class="ps-cart--mini">

                        	<a class="header__extra" href="#">
                        		<i class="icon-bag2"></i><span><i>0</i></span>
                        	</a>

                            <div class="ps-cart__content">

                                <div class="ps-cart__items">

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                        	<a href="#">
                                        		<img src="../shared/../shared/img/products/clothing/7.jpg" alt="">
                                        	</a>
                                        </div>

                                        <div class="ps-product__content">
                                        	<a class="ps-product__remove" href="#">
                                        		<i class="icon-cross"></i>
                                        	</a>
                                        	<a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                            <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                            <small>1 x $59.99</small>
                                        </div>

                                    </div>

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                        	<a href="#">
                                        		<img src="../shared/img/products/clothing/5.jpg" alt="">
                                        	</a>
                                        </div>

                                        <div class="ps-product__content">
                                        	<a class="ps-product__remove" href="#">
                                        		<i class="icon-cross"></i>
                                        	</a>
                                        	<a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                            <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                            <small>1 x $59.99</small>
                                        </div>

                                    </div>

                                </div>

                                <div class="ps-cart__footer">

                                    <h3>Sub Total:<strong>$59.99</strong></h3>
                                    <figure>
                                    	<a class="ps-btn" href="shopping-cart.html">View Cart</a>
                                    	<a class="ps-btn" href="checkout.html">Checkout</a>
                                    </figure>

                                </div>

                            </div>

                        </div>

						<!--=====================================
						Login and Register
						======================================-->

                        <div class="ps-block--user-header">
                            <div class="ps-block__left">
                            	<i class="icon-user"></i>
                            </div>
                            <div class="ps-block__right" *ngIf="!isLoged">
                            	<a routerLink="/login">Ingresar</a>
                            	<a routerLink="/register">Registrar</a>
                            </div>
                            <div class="ps-block__right" *ngIf="isLoged">
                                <a >{{nombreUsuario}}</a>
                                <a (click)="logout()">Salir</a>
                            </div>
                        </div>

                    </div><!-- End Header Actions-->

                </div><!-- End Header Content Right-->

            </div><!-- End Container-->

        </div><!-- End Header Content-->

    </header>


    <div id="homepage-6">

    	<!--=====================================
    	Home Banner
    	======================================-->  

    	<div class="ps-home-banner">
            <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">

                <div class="ps-banner--market-4" data-background="../../../assets/img/slider/horizontal/1.jpg">
                	<img src="../../../assets/img/slider/horizontal/1.jpg" alt="">
                    <div class="ps-banner__content">
                        <h4>Limit Edition</h4>
                        <h3>HAPPY SUMMER <br/> 
                        	COMBO SUPER COOL <br/> 
                        	<p>UP TO <strong> 40%</strong></p>
                        </h3>
                        <a class="ps-btn" href="#">Shop Now</a>
                    </div>
                </div>

            </div>

        </div><!-- End Home Banner-->

        <!--=====================================
    	Home Features
    	======================================-->  

        <div class="ps-site-features">

            <div class="container">

                <div class="ps-block--site-features ps-block--site-features-2">

                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-rocket"></i></div>
                        <div class="ps-block__right">
                            <h4>Free Delivery</h4>
                            <p>For all oders over $99</p>
                        </div>
                    </div>

                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-sync"></i></div>
                        <div class="ps-block__right">
                            <h4>90 Days Return</h4>
                            <p>If goods have problems</p>
                        </div>
                    </div>

                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                        <div class="ps-block__right">
                            <h4>Secure Payment</h4>
                            <p>100% secure payment</p>
                        </div>
                    </div>

                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                        <div class="ps-block__right">
                            <h4>24/7 Support</h4>
                            <p>Dedicated support</p>
                        </div>
                    </div>

                </div>

            </div>

        </div><!-- End Home Features-->

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="text-align: center;"><h4>Productos Disponibles</h4></div>
                
                <div class="row">
                     <div class="col-md-4" *ngFor="let element of productos">
                        <br>
                        <div class="card cardProductos">
                            <br>
                            <h4>{{element.Nombre}}</h4>
                            <img src="../../../assets/img/categories/4.jpg" alt="">
                            <p>Descripcion:</p>
                            <p>{{element.Descripcion}}</p>
                            
                            <p>Cantidad Disponible: <span>{{element.Cantidad}}</span></p>
                             <div class="row buttonP">
                                 <div class="col-md-6">
                                      <button class="color-principal btn" (click)="comprar()">Comprar</button>
                                 </div>
                                 <div class="col-md-6">
                                     <button class="color-principal btn" (click)="comprar()">Visitar Tienda</button>
                                 </div>
                             </div>
                             <br>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
        

        <!--=====================================
		Top Categoríes
		======================================-->  

        <div class="ps-top-categories">

            <div class="container">

                <h3>Top categories of the month</h3>

                <div class="row">

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="../../../assets/img/categories/1.jpg" alt="">
                            <p>Electronics</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="../../../assets/img/categories/2.jpg" alt="">
                            <p>Clothings</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="../../../assets/img/categories/3.jpg" alt="">
                            <p>Computers</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="../../../assets/img/categories/4.jpg" alt="">
                            <p>Home &amp; Kitchen</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="../../../assets/img/categories/5.jpg" alt="">
                            <p>Health &amp; Beauty</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category">
                        	<a class="ps-block__overlay" href="shop-default.html"></a>
                        	<img src="../../../assets/img/categories/6.jpg" alt="">
                            <p>Health &amp; Beauty</p>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- End Top Categories -->

	</div><!-- End Homepage 6-->

 	
    
	
</body>
