<body>

    <header class="header header--standard header--market-place-4" data-sticky="true">
        <!--=====================================
        Header Content
        ======================================-->

        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <!--=====================================
                    Logo
                    ======================================-->
                    <a class="ps-logo" href="index.html">
                    <img src="../../../assets/icono.png" class="pt-3" alt="">
                    </a>
                    <!--=====================================
                    Menú
                    ======================================-->
                    <div class="menu--product-categories">
                        <div class="menu__toggle">
                            <i class="icon-menu"></i>
                        </div>

                        <div class="menu__content" >
                            <ul class="menu--dropdown" >
                                <li class="menu-item-has-children has-mega-menu propiedad">
                                    <a href="#" class="propiedad"><i class="icon-bug" ></i >Plaguicidas</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([1,2])">Fungicidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(1)">De contacto</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(2)">Sistémico</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([5,6])">Insecticidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(5)">Orgánicos</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(6)">Inorgánicos</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([7,8])">Acaricidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(7)">Doméstico</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(8)">Ganadero</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([9,10])">Rodenticidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(9)">De acción acelerada</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(10)">De acción lenta</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([11,12,13,14])">Herbicidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(11)">Residuales</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(12)">Foliares</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(13)">Presiembra</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(14)">Postsiembra</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children has-mega-menu">
                                    <p (click)="llamarporcategorias([15,16,17])"><i class="icon-fire"></i>  Fertilizantes</p>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">                             
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(15)">De origen natural</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(16)">Fabricados</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(17)">Biofertilizantes</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- End menu-->
                </div><!-- End Header Content Left-->
                <!--=====================================
                Search
                ======================================-->
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get" >
                        <dx-autocomplete #inputentrada 
                        #data2
                                            [dataSource]="arregloproductosbuscar"
                                            [(value)]="nomb"
                                            valueExpr="nombre"
                                            placeholder="Nombre del producto" class="buscador">
                                        </dx-autocomplete>
                        <button (click)="buscarproducto()">Buscar</button>
                    </form>
                </div>

                <div class="header__content-right">
                    <div class="header__actions">
                       
                        <!--=====================================
                        Cart
                        ======================================-->
                        <div class="ps-cart--mini">

                            <a *ngIf="!existecarrito" class="header__extra" href="#">
                                <i class="icon-bag2 "></i><span><i>0</i></span>
                            </a>
                            <a *ngIf="existecarrito" class="header__extra" href="#">
                                <i class="icon-bag2 text-warning"></i><span><i>{{contadorcarrito}}</i></span>
                            </a>

                            <div  *ngIf="!desactivarcarrito" class="ps-cart__content">
                                <div class="ps-cart__items">
                                    <div class="ps-product--cart-mobile" *ngFor="let element of productosOrdenDTO;let i = index">
                                        <div class="ps-product__thumbnail">
                                            <a href="#">
                                                <img src="{{element.imagen}}" alt="">
                                            </a>
                                        </div>

                                        <div class="ps-product__content">
                                            <a class="ps-product__remove"  (click)="eliminarRegistro(i, element)">
                                                <i class="icon-cross"></i>
                                            </a>
                                            <a>{{element.nombre}}</a><br>
                                           <!--  <p><strong>Sold by:</strong> YOUNG SHOP</p> -->
                                            <small>{{element.cantidad}} x ${{element.precio_producto}}</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="ps-cart__footer">
                                    <h3>Total:<strong>${{totalCompra}}</strong></h3>
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10" style="text-align: center;">
                                                <a class="ps-btn color-principal"  (click)="verCarrito()">Ver Carrito</a>
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--=====================================
                        Login and Register
                        ======================================-->

                        <div class="ps-block--user-header" *ngIf="!isLoged">
                            <div class="ps-block__left">
                                <i class="icon-user"></i>
                            </div>
                            <div class="ps-block__right">
                                <a routerLink="/login">Ingresar</a>
                                <a routerLink="/register">Registrar</a>
                            </div>
                        </div>

                        <div class="ps-block--user-header" *ngIf="isLoged">
                            <div class="ps-block__left">
                                <i style="cursor:pointer;" class="icon-user" (click)="irPerfilUsuario()"></i>
                            </div>
                            <div class="ps-block__right" *ngIf="isLoged">
                                <a (click)="irPerfilUsuario()">{{nombreUsuario}}</a>
                                <a (click)="logout()">Salir</a>
                            </div>
                        </div>

                    </div><!-- End Header Actions-->
                </div><!-- End Header Content Right-->
            </div><!-- End Container-->
        </div><!-- End Header Content-->
    </header>

    <div *ngIf="mostrarLoading">
        <app-loading [messagge]="mensajeLoading"></app-loading>
    </div>
    <br><br><br><br>
    <div id="homepage-6">
    	<div class="ps-home-banner">
            <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">

                <div class="ps-banner--market-4" data-background="../../../assets/img/slider/horizontal/fondo.png">
                	<img src="../../../assets/img/slider/horizontal/fondo.png" alt="">
                    <div class="ps-banner__content">
                        <h4>Productos agroquímicos</h4>
                        <h3>ENCUENTRA TODO <br/> 
                        	LO QUE NECESITAS <br/> 
                        </h3>
                      <!--   <a class="ps-btn" href="#">Shop Now</a> -->
                    </div>
                </div>

            </div>

        </div><!-- End Home Banner-->

        <!--=====================================
    	Home Features
    	======================================-->  

        <div class="ps-site-features">

            <div class="container">

                <div class="ps-block--site-features ps-block--site-features-2">

                    <div class="ps-block__item">
                        <div class="ps-block__left" ><i class="icon-bug" style="color: green;"></i></div>
                        <div class="ps-block__right">
                           <h4 (click)="ponerenelinpute()" >Productos agroquímicos </h4>
                            <p (click)="ponerenelinpute()">Encuentra el producto que estás buscando</p>
                        </div>
                    </div>

                     <div class="ps-block__item">
                        <div class="ps-block__left"><i class="fa fa-quote-right" style="color: green;"></i></div>
                        <div class="ps-block__right">
                            <h4 (click)="mostrarinfotienda()">Comentarios tiendas</h4>
                            <p (click)="mostrarinfotienda()">Verifica las reseñas de la tienda</p>
                        </div>
                    </div> 

                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-credit-card " style="color: green;"></i></div>
                        <div class="ps-block__right">
                            <h4 (click)="mostrarpoputformasdepago()">Paga seguro</h4>
                            <p (click)="mostrarpoputformasdepago()">Realiza tu pedido de forma segura</p>
                        </div>
                    </div>

                    <div class="ps-block__item">
                        <div class="ps-block__left"><i class="icon-bubbles" style="color: green;"></i></div>
                        <div class="ps-block__right">
                            <a href="#abajo"><h4>24/7 Soporte</h4></a>
                            <a href="#abajo"><p>Contacta con nosotros ante cualquier duda</p></a>
                        </div>
                    </div>

                </div>

            </div>

        </div><!-- End Home Features-->

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div style="text-align: center;"><h4>Productos Disponibles</h4></div>

                <div class="row centrar" *ngIf="listaprocompleto.length == 0">
                    <div class="col-md-12"><h2>No hay productos disponibles</h2></div>
                </div>
                
                <div class="row">
                     <div class="col-md-4" *ngFor="let element of listaprocompleto">
                        <br>
                        <div class="card cardProductos">
                            <br>
                            <h4>{{element.nombre}}</h4>
                            <img src="{{element.imagen}}" alt="Imagen del producto" style="width:125pt; height: 150pt; margin:auto" (click)="mostrarPopup(element)">
                            <p><span>Tienda:</span>  {{element.nombre_ti}}</p>
                            <p><span>Categoría:</span>  {{element.descripcion_cat}}</p>
                            <p><span>Subcategoria:</span> {{element.descripcion_sub}}</p>
                            <p><span>Precio:</span> $ {{element.precio}}</p>
                             <div class="row buttonP" *ngIf="inhabilitarboton == true">
                                 <div class="col-md-6 " *ngIf="idelatienda == element.id_tienda.toString()">
                                      <button disabled class="color-principal btn" (click)="mostrarPopupCompra(element)">Comprar</button>
                                 </div>
                                 <div class="col-md-6 " *ngIf="idelatienda != element.id_tienda.toString()">
                                    <button  class="color-principal btn" (click)="mostrarPopupCompra(element)">Comprar</button>
                               </div>
                                 <div class="col-md-6">
                                     <button class="color-principal btn" (click)="mostrarPopupTienda(element.id_tienda)">Ver Tienda</button>
                                 </div>
                             </div>
                             <div class="row buttonP" *ngIf="inhabilitarboton == false">
                                <div class="col-md-6 ">
                                     <button  class="color-principal btn" (click)="mostrarPopupCompra(element)">Comprar</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="color-principal btn" (click)="mostrarPopupTienda(element.id_tienda)">Ver Tienda</button>
                                </div>
                            </div>
                             <br>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
        

        <!--=====================================
		Top Categoríes
		======================================-->  
        <br><br><br>
        <div class="ps-top-categories">

            <div class="container">

                <h3>Todas las categorías</h3>

                <div class="row">

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category" (click)="llamarporcategorias([1,2])">
                        	<a class="ps-block__overlay" ></a>
                        	<img src="../../../assets/imagcate/fungicidas1.jpg" alt="">
                            <p>Fungicidas</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category" (click)="llamarporcategorias([5,6])">
                        	<a class="ps-block__overlay" ></a>
                        	<img src="../../../assets/imagcate/insecticidas1.jpg" alt="">
                            <p>Insecticidas</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category" (click)="llamarporcategorias([15,16,17])">
                        	<a class="ps-block__overlay" ></a>
                        	<img src="../../../assets/imagcate/fertilizantes1.jpg" alt="">
                            <p>Fertilizantes</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category" (click)="llamarporcategorias([7,8])">
                        	<a class="ps-block__overlay" ></a>
                        	<img src="../../../assets/imagcate/acaricidas1.jpg" alt="">
                            <p>Acaricidas</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category" (click)="llamarporcategorias([9,10])" >
                        	<a class="ps-block__overlay" ></a>
                        	<img src="../../../assets/imagcate/raticidas1.jpg"  alt="">
                            <p>Rodenticidas</p>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-3 col-sm-4 col-6 ">
                        <div class="ps-block--category" (click)="llamarporcategorias([11,12,13,14])">
                        	<a class="ps-block__overlay" ></a>
                        	<img src="../../../assets/imagcate/herbicidas1.jpg" alt="">
                            <p>Herbicidas</p>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- End Top Categories -->

	</div><!-- End Homepage 6-->

    
    
	
</body>



<dx-popup
    [width]="'60%'"
    [height]="'66%'"
    [closeOnOutsideClick]="true"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div class="row" >
            <div class="col-md-4">
            
                    <img src="{{productoMostrado.imagen}}" alt="">

                </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"><h2>{{productoMostrado.nombre}}</h2></div>
                    <div class="col-md-12">
                        <h4>Descripcion:</h4>
                        <p>{{productoMostrado.descripcion}}</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Cantidad Disponible:</h5></div>
                            <div class="col-md-8">{{productoMostrado.stock}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Categoria:</h5></div>
                            <div class="col-md-8">{{productoMostrado.descripcion_cat}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Sub-Categoria:</h5></div>
                            <div class="col-md-8">{{productoMostrado.descripcion_sub}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Precio:</h5></div>
                            <div class="col-md-8">${{productoMostrado.precio}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dx-popup>


<dx-popup
    [width]="'50%'"
    [height]="'50%'"
    [title]="datosTienda.nombre_ti.toUpperCase()"
    [closeOnOutsideClick]="true"
    [(visible)]="popupTienda">
    <div *dxTemplate="let data of 'content'">
        <div class="row">
            <div class="col-md-4"><img src="../../../assets/img/shop-2.jpg" alt=""></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12"><h2></h2></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Dirección:</h5></div>
                            <div class="col-md-8">{{datosTienda.direccion}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Correo electrónico:</h5></div>
                            <div class="col-md-8">{{datosTienda.correo_electronico}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Telefono de contacto:</h5></div>
                            <div class="col-md-8">{{datosTienda.telefono}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Hora de apertura:</h5></div>
                            <div class="col-md-8">{{datosTienda.hora_apertura | date:'shortTime':'UTC'}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Hora de cierre:</h5></div>
                            <div class="col-md-8">{{datosTienda.hora_cierre | date:'shortTime':'UTC'}}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4"><h5>Descripción:</h5></div>
                            <div class="col-md-8">{{datosTienda.descripcion}}</div>
                        </div>
                    </div> 
                    <div class="col-md-12"><h3></h3></div>
                </div>
            </div>
        </div>
        <div class="row centrar">
            <div class="col-md-12"><button class="color-principal btn2"  (click)="verProductosTienda(datosTienda.id_tienda)">Ver Productos Tienda</button></div>
            
        </div>
    </div>
   
</dx-popup>


<dx-popup
    [width]="'51%'"
    [height]="'71%'"
    [(visible)]="popupCompra">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
        <div class="ps-section__content centrar">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="table-responsive">
                    <div class="row">
                        <div class="col-md-6"><img src="{{productoAComprar.imagen}}" alt="" style="width:auto; height: 24rem;"></div>
                        <div class="col-md-4">
                            <br><br>
                            <h4>{{productoAComprar.nombre}}</h4><br>
                            <h4>Cantidad disponible: {{productoAComprar.stock}}</h4>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <p style="color: red;font-weight: bold;">{{mensajeError}}</p>
                            <table class="table ps-table--shopping-cart centrar">
                                <thead>
                                    <tr>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="price">${{productoAComprar.precio}}</td>
    
                                        <td>
                                            <div class="form-group--number">
                                                <dx-number-box [min]="0" [max]="99999999" [(value)]="nuevoProductoOrden.cantidad" (onChange)="validarCantidad()" ></dx-number-box>
                                                </div>
                                        </td>
                                        <td>${{nuevoProductoOrden.total_producto}}</td>                             
                                        
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4"><button class="btn color-principal" [disabled]="!isCorrecto" (click)="validarTiendaProducto()">Añadir al Carrito</button></div>
                                <div class="col-md-4"></div>
                            </div>
                            
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    
                </div>
                </div>
                <div class="col-md-1"></div>
            </div>

           <!--  <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-4"><button class="btn color-principal" (click)="seguirComprando()">Seguir Comprando</button></div>

            </div> -->
        </div> 
    </dx-scroll-view>

    </div>



   
</dx-popup>
<a name="abajo"></a>

<dx-popup
[width]="'30%'"
[height]="'35%'"
[showTitle]="true"
title="Cantidad no disponible"
[(visible)]="popupaceptarcantidad">
<div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
    <div class="ps-section__content centrar">
        <div class="row">
            
            <div class="col-md-12">
                
                <label for=""> La cantidad solicitada del producto . </label><label for=""><strong> {{productoAComprar .nombre}}</strong></label><label for=""> excede el stock disponible del producto</label><br><strong></strong><label for=""><strong>¿Desea asignar el stock màximo del producto, el cual es {{productoAComprar .stock}} ?</strong></label> 
                <br>
                <div class="row">
                    <br><br>
                    <div class="col-md-1"></div>
                    <br>
                    <div  class="col-md-4"><br><button class="btn color-principal"  (click)="poputaceptacioncantidad()">ok</button></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-4"><br><button class="btn btn-danger"  (click)="poputrechazarcantidad()">cancelar</button></div>
                    <div class="col-md-1"></div>
                    <br>
                </div>
                

                <br>
            </div>           
        </div>

    </div> 
</dx-scroll-view>

</div>

</dx-popup>



<dx-popup
[width]="'22%'"
[height]="'44%'"
[showTitle]="true"
[(visible)]="poputinformaciontienda">
<div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
    <div class="ps-section__content centrar">
        <div class="row">
            <div class="col-md-12">
                <img src="../../../assets/tiendapopup.svg " alt="">
            </div>
            <div class="col-md-12">
                <br>
                <label for="">Consulta los comentarios dejados por otros usuarios que han realizado pedidos a cada tienda para mayor seguridad y confianza al momento de realizar tu pedido. </label>  
                <br>
            </div>           
        </div>
    </div>
</dx-scroll-view>
</div>
</dx-popup>

<dx-popup
[width]="'25%'"
[height]="'55%'"
[showTitle]="true"
[(visible)]="poputinformacionpago">
<div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
    <div class="ps-section__content centrar">
        <div class="row">
            <div class="col-md-12">
                <img id="imagenpago" src="../../../assets/pagoseguro.svg" alt="">
            </div>
            <div class="col-md-12">
                <br>
                <label for="" style="text-align: justify;">Dentro de la plataforma está configurada para aceptar 3 formas de pago, pero es elección de cada tienda elegir cúal método de pago aceptar por la compra de sus productos. <br> Las formas de pago son:</label>  
                <ul>
                    <li style="text-align: start;">Contacto Directo</li>
                    <li style="text-align: start;">Pago contra Entrega</li>
                    <li style="text-align: start;">Transferencia o depósito bancario</li>
                </ul>
                <br>
            </div>           
        </div>
    </div>
</dx-scroll-view>
</div>
</dx-popup>



