.header__content {
  background-color: #1db61d;
  color: white;
  width: 100%;
  position: fixed;
  z-index: 2;
}


.ps-logo{
  margin-top: -1em;
}

.icon-user{
  color: white;
}

.propiedad :hover{
  color: #1db61d;
  
}

.buscador{
  width: 100%;
}

.cardProductos{
  text-align: center;
}

.cardProductos p{
  margin-right: 1em;
  margin-left: 1em;
  text-align: left;
}

.buttonP{
  margin-left: 1em;
  margin-right: 1em;
}

.btn{
  font-size: 12pt;
}

.color-principal{
    background-color: #1db61d;
    color: white;
}
