.header__content {
  background-color: #1db61d;
  color: white;
}

.ps-logo{
  margin-top: -1em;
}

.icon-user{
  color: white;
}
.buscador{
  width: 100%;
}
.color-principal{
    background-color: #1db61d;
    color: white;
}

.controles{
    height: 4rem;
}

.inputDate{
  width: 100%;
}

.terminos{
  text-align:center;
  font-size: 1.8rem;
  color:#68A7D1 ;
}

.si a:hover{
  color: #63EABA ;

}

.bot{
  background-color:  #A9F5D0;
}
.bot:hover{
  background-color:  #A9F5D0;
  color: black;
}
