
<body>
    <header class="header header--standard header--market-place-4" data-sticky="true">
        <!--=====================================
        Header Content
        ======================================-->

        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <!--=====================================
                    Logo
                    ======================================-->
                    <a class="ps-logo" href="index.html">
                    <img src="../../../assets/icono.png" class="pt-3" alt="">
                    </a>
                    <!--=====================================
                    Menú
                    ======================================-->
                    <div class="menu--product-categories">
                        <div class="menu__toggle" (click)="redirigir()">
                            <i class="icon-menu"></i>
                        </div>
                    </div><!-- End menu-->
                </div><!-- End Header Content Left-->
                <!--=====================================
                Search
                ======================================-->
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get" >
                        <dx-autocomplete #data2
                                            valueExpr="nombre"
                                            placeholder="Nombre del producto" class="buscador">
                                        </dx-autocomplete>
                        <button>Buscar</button>
                    </form>
                </div>

                <div class="header__content-right">
                    <div class="header__actions">
                       
                        <!--=====================================
                        Cart
                        ======================================-->
                        <div class="ps-cart--mini">

                            <a class="header__extra" href="#">
                                <i class="icon-bag2"></i><span><i>0</i></span>
                            </a>


                        </div>

                        <!--=====================================
                        Login and Register
                        ======================================-->

                        <div class="ps-block--user-header">
                            <div class="ps-block__left">
                                <i class="icon-user" (click)="irPerfilUsuario()"></i>
                            </div>
                            <div class="ps-block__right" *ngIf="!isLoged">
                                <a routerLink="/login">Ingresar</a>
                                <a routerLink="/register">Registrar</a>
                            </div>
                            <div class="ps-block__right" *ngIf="isLoged">
                                <a (click)="irPerfilUsuario()">{{nombreUsuario}}</a>
                                <a (click)="logout()">Salir</a>
                            </div>
                        </div>
                    </div><!-- End Header Actions-->
                </div><!-- End Header Content Right-->
            </div><!-- End Container-->
        </div><!-- End Header Content-->
    </header>



    <div *ngIf="mostrarLoading">
        <app-loading [messagge]="mensajeLoading"></app-loading>
    </div>

    <div class="ps-my-account">

        <div class="container">

            <div class="ps-form--account ps-tab-root">

                <ul class="ps-tab-list" *ngIf="!isedicion">
                    <li class="active"><a>Registrar</a></li>
                </ul>

                 <ul class="ps-tab-list" *ngIf="isedicion">
                    <li class="active"><a href="#sign-in">Editar Usuario</a></li>
                </ul>

                <div class="ps-tabs">
                    <div class="ps-tab active">

                        <div class="ps-form__content">

                            <h5 *ngIf="!isedicion">Registra una Cuenta</h5>
                            <h5 *ngIf="isedicion">Actualiza tus datos</h5>


                            <div class="form-group">
                                
                            <dx-text-box [(value)]="usuarioNuevo.nombres" [disabled]="isedicion" class="controles" placeholder="Nombres" aria-required="true"></dx-text-box> 

                            </div>

                            <div class="form-group">

                                <dx-text-box [(value)]="usuarioNuevo.apellidos" [disabled]="isedicion" class="controles" placeholder="Apellidos"></dx-text-box>

                            </div>

                            <div class="form-group">

                                <dx-text-box [(value)]="usuarioNuevo.cedula" class="controles" placeholder="Cedula" [disabled]="isedicion" placeholder="Cedula"></dx-text-box>

                            </div>
                            <div class="form-group">

                                <dx-text-box [(value)]="usuarioNuevo.direccion" class="controles"  placeholder="Dirección"></dx-text-box>

                            </div>
                            <div class="form-group">
                                <dx-select-box [items]="generos" [(value)]="usuarioNuevo.genero" [disabled]="isedicion" placeholder="Selecciona tu genero"></dx-select-box>
                            </div>

                            <div class="form-group">
                                <dx-date-box [(value)]="fecha" type="date" [disabled]="isedicion" placeholder="Ingrese fecha Nacimiento"> </dx-date-box>
                            </div>                            
                            <div class="form-group">
                                <dx-select-box [items]="listaCantones" [(value)]="usuarioNuevo.id_cantones" [disabled]="isedicion" valueExpr="id_cantones" displayExpr="descripcion" placeholder="Seleccionar canton"></dx-select-box>
                            </div>

                            <div class="form-group">
                                <dx-select-box [items]="tiposUsuarios" [(value)]="usuarioNuevo.id_tipo_usuario" [disabled]="isedicion" valueExpr="id_tipo_usuario" displayExpr="descripcion" placeholder="Seleccionar Tipo Usuario" ></dx-select-box>
                            </div>

                            <div class="form-group">
                                <dx-text-box [(value)]="usuarioNuevo.celular" class="controles"  placeholder="Celular"></dx-text-box>
                            </div>

                            <div class="form-group">

                                <dx-text-box [(value)]="usuarioNuevo.correo" class="controles" placeholder="Correo">
                                    <dx-validator> <dxi-validation-rule type="required"  message="Correo es requerido" ></dxi-validation-rule>
                                        <dxi-validation-rule   type="email"  message="Correo es invalido"  ></dxi-validation-rule>  </dx-validator> </dx-text-box>
                            </div>    
    
                            <div class="form-group">
                                <dx-text-box [(value)]="usuarioNuevo.contrasenia" class="controles" placeholder="Contraseña" stylingMode="filled" [(mode)]="passwordMode"  > <dxi-button
                                    name="today" location="after" [options]="passwordButton" ></dxi-button></dx-text-box>
                                </div>     

                            <div class="form-group" *ngIf="!isedicion">
                                <button class="ps-btn ps-btn--fullwidth color-principal" (click)="verificarcampos()">Registrar</button>
                            </div>

                            <div class="form-group"  *ngIf="isedicion">
                                <button class="ps-btn ps-btn--fullwidth color-principal" (click)="verificarcamposparaactualizar()">Actualizar</button>
                            </div>
                            <br>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

	
</body>
