
<body>
    <header class="header header--standard header--market-place-4" data-sticky="true">
        <!--=====================================
        Header Content
        ======================================-->

        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <!--=====================================
                    Logo
                    ======================================-->
                    <a class="ps-logo" href="index.html">
                    <img src="../../../assets/icono.png" class="pt-3" alt="">
                    </a>
                    <!--=====================================
                    Menú
                    ======================================-->
                    <div class="menu--product-categories">
                        <div class="menu__toggle" (click)="redirigir()">
                            <i class="icon-menu"></i>
                        </div>
                    </div><!-- End menu-->
                </div><!-- End Header Content Left-->
                <!--=====================================
                Search
                ======================================-->
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get" >
                        <dx-autocomplete #data2
                                            valueExpr="nombre"
                                            placeholder="Nombre del producto" class="buscador">
                                        </dx-autocomplete>
                        <button>Buscar</button>
                    </form>
                </div>

                <div class="header__content-right">
                    <div class="header__actions">
                       
                        <!--=====================================
                        Cart
                        ======================================-->
                        <div class="ps-cart--mini">

                            <a class="header__extra" href="#">
                                <i class="icon-bag2"></i><span><i>0</i></span>
                            </a>


                        </div>

                        <!--=====================================
                        Login and Register
                        ======================================-->

                        <div class="ps-block--user-header">
                            <div class="ps-block__left">
                                <i class="icon-user" (click)="irPerfilUsuario()"></i>
                            </div>
                            <div class="ps-block__right" *ngIf="!isLoged">
                                <a routerLink="/login">Ingresar</a>
                                <a routerLink="/register">Registrar</a>
                            </div>
                            <div class="ps-block__right" *ngIf="isLoged">
                                <a (click)="irPerfilUsuario()">{{nombreUsuario}}</a>
                                <a (click)="logout()">Salir</a>
                            </div>
                        </div>
                    </div><!-- End Header Actions-->
                </div><!-- End Header Content Right-->
            </div><!-- End Container-->
        </div><!-- End Header Content-->
    </header>



    <div *ngIf="mostrarLoading">
        <app-loading [messagge]="mensajeLoading"></app-loading>
    </div>

    <div class="ps-my-account">

        <div class="container">

            <div class="ps-form--account ps-tab-root">

                <ul class="ps-tab-list" *ngIf="!isedicion">
                    <li class="active"><a>Registrar</a></li>
                </ul>

                 <ul class="ps-tab-list" *ngIf="isedicion">
                    <li class="active"><a href="#sign-in">Editar Usuario</a></li>
                </ul>

                <div class="ps-tabs">
                    <div class="ps-tab active">

                        <div class="ps-form__content">

                            <h5 *ngIf="!isedicion">Registra una Cuenta</h5>
                            <h5 *ngIf="isedicion">Actualiza tus datos</h5>


                            <div class="form-group">
                                
                            <dx-text-box [maxLength]="28" [(value)]="usuarioNuevo.nombres" [disabled]="isedicion" class="controles" placeholder="Nombres" aria-required="true">
                                <dx-validator>
                                    <dxi-validation-rule type="required"  message="Nombres son requeridos"></dxi-validation-rule>     
                                </dx-validator>
                            </dx-text-box> 

                            </div>

                            <div class="form-group">

                                <dx-text-box [maxLength]="25" [(value)]="usuarioNuevo.apellidos" [disabled]="isedicion" class="controles" placeholder="Apellidos">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"  message="Apellidos son requerido"></dxi-validation-rule>     
                                    </dx-validator>
                                </dx-text-box>

                            </div>

                            <div class="form-group">

                                <dx-text-box  pattern="[0-9]{10}" [maxLength]="10"  [(value)]="usuarioNuevo.cedula" class="controles" placeholder="Cédula" [disabled]="isedicion" placeholder="Cédula" >         <dx-validator>
                                    <dxi-validation-rule type="required"  message="Número de cédula es requerido"></dxi-validation-rule>
                                    <dxi-validation-rule type="pattern" pattern="[0-9]{10}" message="Debe ingresar una cédula válida"></dxi-validation-rule></dx-validator></dx-text-box>
                                      
                                    
                                 

                            </div>
                            <div class="form-group">

                                <dx-text-box [maxLength]="50" [(value)]="usuarioNuevo.direccion" class="controles"  placeholder="Dirección">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"  message="Dirección es requerida"></dxi-validation-rule>     
                                    </dx-validator>
                                </dx-text-box>

                            </div>
                            <div class="form-group">
                                <dx-select-box  [items]="generos" [(value)]="usuarioNuevo.genero" [disabled]="isedicion" placeholder="Selecciona tu género"></dx-select-box>
                            </div>

                            <div class="form-group">
                                <dx-date-box min="1940/1/1" max="2003/12/31"  [displayFormat]="'dd/MM/yyyy'"  [(value)]="fecha" type="date" [disabled]="isedicion" placeholder="Ingrese fecha Nacimiento"> </dx-date-box>
                            </div>                            
                            <div class="form-group">
                                <dx-select-box [items]="listaCantones" [(value)]="usuarioNuevo.id_cantones" [disabled]="isedicion" valueExpr="id_cantones" displayExpr="descripcion" placeholder="Seleccionar canton"></dx-select-box>
                            </div>

                            <div class="form-group">
                                <dx-select-box [items]="tiposUsuarios" [(value)]="usuarioNuevo.id_tipo_usuario" [disabled]="isedicion" valueExpr="id_tipo_usuario" displayExpr="descripcion" placeholder="Seleccionar Tipo Usuario" ></dx-select-box>
                            </div>

                            <div class="form-group">
                                <dx-text-box [maxLength]="10" [(value)]="usuarioNuevo.celular" class="controles"  placeholder="Celular">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"  message="Número de celular es requerido"></dxi-validation-rule>
                                        <dxi-validation-rule type="pattern" pattern="[0-9]{10}" message="Debe ingresar solo números"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>


                            <div class="form-group">

                                <dx-text-box [maxLength]="50" [(value)]="usuarioNuevo.correo" class="controles" placeholder="Correo">
                                    <dx-validator> <dxi-validation-rule type="required"  message="Correo es requerido" ></dxi-validation-rule>
                                        <dxi-validation-rule   type="email"  message="Correo es invalido"  ></dxi-validation-rule>  </dx-validator> </dx-text-box>
                            </div>    
    
                            <div class="form-group">
                                <dx-text-box [maxLength]="30" [(value)]="usuarioNuevo.contrasenia" id="price" class="controles" placeholder="Contraseña" stylingMode="filled" [(mode)]="passwordMode"  > 
                                    <dx-validator>
                                        <dxi-validation-rule type="required"  message="Contraseña es requerida"></dxi-validation-rule>     
                                    </dx-validator><dxi-button
                                    name="today" location="after" [options]="passwordButton" ></dxi-button></dx-text-box>
                                </div>
                            <div class="form-group si" *ngIf="!isedicion">
                                <dx-check-box [value]="false" [(ngModel)]="aceptarterminos" (click)="mostrar_check()"></dx-check-box><a  class="text-center terminos" (click)="mostrar_condiciones()">   Términos y condiciones</a>
                                </div>  
                                

                            <div class="form-group" *ngIf="!isedicion">
                                <div  *ngIf="!aceptarterminos">
                                <button class="ps-btn ps-btn--fullwidth bot"  (click)="verificarcampos()" disabled>Registrar</button>
                                </div>
                                <div  *ngIf="aceptarterminos">
                                    <button class="ps-btn ps-btn--fullwidth color-principal" (click)="verificarcampos()">Registrar</button>
                                </div>
                            </div>

                            <div class="form-group"  *ngIf="isedicion">
                                <button class="ps-btn ps-btn--fullwidth color-principal" (click)="verificarcamposparaactualizar()">Actualizar</button>
                            </div>
                            <br>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <br><br>
    </div>	
</body>


<dx-popup
[width]="'60%'"
[height]="'50%'"
[showTitle]="true"
title="Términos y condiciones"
[(visible)]="poputterminos">
<div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
    <div class="ps-section__content centrar">
        <div class="row">
            <div class="col-md-12">
                
            </div>
            <div class="col-md-12">
                <br>
                <h4>Propietarios de negocios</h4><hr>
                <label for="" style="text-align: justify;">Cómo propietario de negocio se deben aceptar los siguientes términos y condiciones para poder vender los productos dentro de la plataforma. </label>  
                <ul>
                    <li style="text-align: start;">Está legalmente habilitado para ofrecer y vender los productos que ofrecerá a los clientes.</li>
                    <li style="text-align: start;">Es propietario y/o comercializador legítimo de todos los Productos</li>
                    <li style="text-align: start;">Los Productos han sido diseñados y fabricados de conformidad con las leyes del país en que se encuentran registrados</li>
                    <li style="text-align: start;">Los Productos cumplen con todas las especificaciones de calidad requeridas para su comercialización bajo las leyes de la República de Ecuador, incluyendo sin limitarse a ello, los registros y permisos sanitarios aplicables.</li>
                    <li style="text-align: start;">Respecto de los Productos fabricados en el exterior, éstos han sido importados cumpliendo los requisitos legales y tienen todas las licencias, permisos y autorizaciones para su comercialización en Ecuador</li>
                    <li style="text-align: start;">Agromarket tendrá derecho a rechazar la información entregada por el Vendedor, así como a pedir aclaraciones, complementaciones y correcciones de manera que ésta sea completa, veraz y suficiente.</li>
                    <li style="text-align: start;">El precio de venta de los Productos en el e-Marketplace será determinado por el Vendedor, a su entera discreción, sin perjuicio que deberá ofrecer precios preferentes a los clientes </li>
                    <li style="text-align: start;">Será de exclusiva responsabilidad del Vendedor mantener un stock suficiente de los Productos ofrecidos a través del e-Marketplace y mantener indemne a Agromarket de cualquier reclamo relacionado con quiebres de stock. </li>
                    <li style="text-align: start;">El Vendedor entiende y acepta que el contenido cargado en relación con los productos publicados en el portal son su responsabilidad.</li>
                    <li style="text-align: start;">Agromarket se reserva el derecho de rechazar razonablemente y a su entera discreción uno o varios Productos para su promoción en el e-Marketplace una vez cargado el producto en la plataforma</li>
                    <li style="text-align: start;">La plataforma tendrá a disposición de inactivar la tienda junto con todos sus productos si así lo considera necesario</li>
                </ul>
                <br>
            </div> 
            <div class="col-md-12">
                <br>
                <h4>Clientes</h4><hr>
                <label for="" style="text-align: justify;">Cómo clientes se deben aceptar los siguientes términos y condiciones para poder solicitar los productos dentro de la plataforma. </label>  
                <ul>
                    <li style="text-align: start;">Soy mayor de edad y estoy dispuesto a proporcionar mi información para fines comerciales.</li>
                    <li style="text-align: start;">Realizar el pago correspondiente a la cuenta otorgada por el vendedor.</li>
                    <li style="text-align: start;">Estoy de acuerdo que cualquier producto en malas condiciones o no entregado a tiempo es responsabilidad exclusiva de la tienda y no de la plataforma.</li>
                    <li style="text-align: start;">Solicitar los productos necesarios y no realizar pedidos sin razón alguna.</li>
                    <li style="text-align: start;">La aceptación de los métodos de pago y el envío de los productos es exclusividad de la tienda.</li>
                    <li style="text-align: start;">Mi información personal será visualizada por la tienda al momento de solicitar la orden de pedido con los productos. </li>
                </ul>
                <br>
            </div>              
        </div>
    </div>
</dx-scroll-view>
</div>
</dx-popup>