<body>

    <header class="header header--standard header--market-place-4" data-sticky="true">
        <!--=====================================
        Header Content
        ======================================-->

        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <!--=====================================
                    Logo
                    ======================================-->
                    <a class="ps-logo" href="index.html">
                    <img src="../../../assets/icono.png" class="pt-3" alt="">
                    </a>
                    <!--=====================================
                    Menú
                    ======================================-->
                    <div class="menu--product-categories">
                        <div class="menu__toggle">
                            <i class="icon-menu"></i>
                            <span> Shop by Department</span>
                        </div>

                        <div class="menu__content" >
                            <ul class="menu--dropdown" >
                                <li class="menu-item-has-children has-mega-menu propiedad">
                                    <a href="#" class="propiedad"><i class="icon-bug" ></i >Plaguicidas</a>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([1,2])">Fungicidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(1)">De contacto</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(2)">Sistémico</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([5,6])">Insecticidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(5)">Orgánicos</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(6)">Inorgánicos</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([7,8])">Acaricidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(7)">Doméstico</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(8)">Ganadero</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([9,10])">Rodenticidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(9)">De acción acelerada</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(10)">De acción lenta</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                        <div class="mega-menu__column">
                                            <h4 (click)="llamarporcategorias([11,12,13,14])">Herbicidas<span class="sub-toggle"></span></h4>
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(11)">Residuales</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(12)">Foliares</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(13)">Presiembra</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(14)">Postsiembra</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="menu-item-has-children has-mega-menu">
                                    <p (click)="llamarporcategorias([15,16,17])"><i class="icon-fire"></i>  Fertilizantes</p>
                                    <div class="mega-menu">
                                        <div class="mega-menu__column">                             
                                            <ul class="mega-menu__list">
                                                <li><a (click)="llamarsubcategorias(15)">De origen natural</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(16)">Fabricados</a>
                                                </li>
                                                <li><a (click)="llamarsubcategorias(17)">Biofertilizantes</a>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- End menu-->
                </div><!-- End Header Content Left-->
                <!--=====================================
                Search
                ======================================-->
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="index.html" method="get" >
                        <dx-autocomplete 
                                            [dataSource]="listacompletaproductos"
                                            [(value)]="nomb"
                                            valueExpr="nombre"
                                            placeholder="Nombre del producto" class="buscador">
                                        </dx-autocomplete>
                        <button (click)="buscarproducto()">Buscar</button>
                    </form>
                </div>

                <div class="header__content-right">
                    <div class="header__actions">
                       
                        <!--=====================================
                        Cart
                        ======================================-->
                        <div class="ps-cart--mini">

                            <a class="header__extra" href="#">
                                <i class="icon-bag2"></i><span><i>0</i></span>
                            </a>

                            <div class="ps-cart__content">

                                <div class="ps-cart__items">

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                            <a href="#">
                                                <img src="../shared/../shared/img/products/clothing/7.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="ps-product__content">
                                            <a class="ps-product__remove" href="#">
                                                <i class="icon-cross"></i>
                                            </a>
                                            <a href="product-default.html">MVMTH Classical Leather Watch In Black</a>
                                            <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                            <small>1 x $59.99</small>
                                        </div>

                                    </div>

                                    <div class="ps-product--cart-mobile">

                                        <div class="ps-product__thumbnail">
                                            <a href="#">
                                                <img src="../shared/img/products/clothing/5.jpg" alt="">
                                            </a>
                                        </div>

                                        <div class="ps-product__content">
                                            <a class="ps-product__remove" href="#">
                                                <i class="icon-cross"></i>
                                            </a>
                                            <a href="product-default.html">Sleeve Linen Blend Caro Pane Shirt</a>
                                            <p><strong>Sold by:</strong> YOUNG SHOP</p>
                                            <small>1 x $59.99</small>
                                        </div>

                                    </div>

                                </div>

                                <div class="ps-cart__footer">

                                    <h3>Sub Total:<strong>$59.99</strong></h3>
                                    <figure>
                                        <a class="ps-btn" href="shopping-cart.html">View Cart</a>
                                        <a class="ps-btn" href="checkout.html">Checkout</a>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <!--=====================================
                        Login and Register
                        ======================================-->

                        <div class="ps-block--user-header">
                            <div class="ps-block__left">
                                <i class="icon-user" (click)="irPerfilUsuario()"></i>
                            </div>
                            <div class="ps-block__right" *ngIf="!isLoged">
                                <a routerLink="/login">Ingresar</a>
                                <a routerLink="/register">Registrar</a>
                            </div>
                            <div class="ps-block__right" *ngIf="isLoged">
                                <a (click)="irPerfilUsuario()">{{nombreUsuario}}</a>
                                <a (click)="logout()">Salir</a>
                            </div>
                        </div>
                    </div><!-- End Header Actions-->
                </div><!-- End Header Content Right-->
            </div><!-- End Container-->
        </div><!-- End Header Content-->
    </header>


    <br><br><br><br><br><br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div style="text-align: center;"><h4>Productos Disponibles</h4></div>

            <div class="row centrar" *ngIf="listaprocompleto.length == 0">
                <div class="col-md-12"><h2>No hay productos disponibles</h2></div>
            </div>
            
            <div class="row">
                    <div class="col-md-4" *ngFor="let element of listaprocompleto">
                    <br>
                    <div class="card cardProductos">
                        <br>
                        <h4>{{element.nombre}}</h4>
                        <img src="{{element.imagen}}" alt="Imagen del producto" style="width:150pt; height: 175pt; display:bloc; margin:auto"> <!-- style="width:150pt; height: 175pt;" --> 
                        <p>Categoría: {{element.descripcion_cat}}</p>
                        <!-- <p>{{element.descripcion}}</p> -->
                        
                        <p>Subcategoria: <span>{{element.descripcion_sub}}</span></p>
                        <p>Precio: <span>{{element.stock}}</span></p>
                            <div class="row buttonP">
                                <div class="col-md-6">
                                    <button class="color-principal btn" (click)="comprar()">Comprar</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="color-principal btn" (click)="comprar()">Visitar Tienda</button>
                                </div>
                            </div>
                            <br>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

	
</body>
